@charset "UTF-8";

.item_image_brand{
    border-radius: 25px;
    padding-top: 10px;
    width: 160px;
    height: 65px;
    padding-bottom: 10px;

}

.item_div{

    background-color: #f4f4f5;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 5px 7px 0px rgba(220,220,220,1);

}

.sort_div{

    background-color: #f4f4f5;
    border-radius: 6px;
    width: 100%;
    /*box-shadow: 0px 5px 7px 0px rgba(220,220,220,1);*/

}

.nav_items{

    padding-top: 3px;
    color: white;
    padding-right: 50px;
    font-size: 18px;
    font-weight: 400;

}
.navbar-brand{

    padding-left: 250px;
    font-family: fantasy!important;
    color: white!important;
    font-size: 30px!important;
    font-weight: 500!important;

}

.navbar-toggler:focus{

    outline:0!important;
    box-shadow: none!important;

}.navbar-toggler{

    border-width: 2px;

}

.navbar-toggler:hover{

    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.48);

}



.dj{

    background-color: white;
    border-radius: 30px;
    padding-top: 7px;
    padding-bottom: 1px;

}

.nav_search{

    width: 100%;
    height: 70px;
    box-shadow: -8px 20px 27px -20px rgba(220,220,220,1);
    border-radius: 10px;

}

.nav_search:focus{

    outline: none;
    box-shadow: -8px 20px 27px -20px rgba(220,220,220,1);
    border: 2px solid #ff0065;

}

.add_button{

    background-color: #b0193b;
    color: white;
    border-radius: 9px;
    font-size: 14px;
    font-weight: 500;
    outline:0;


}

.dropdown-menu{
    border: 1px solid #545454;
    background: linear-gradient(45deg,#e42d31,#ff0065);
}

.page-link{

    border-radius: 10px!important;
    color: #7a7a7a;
    background-color: #f4f4f5;

}

.page-item:focus{
    outline:0!important;
    box-shadow: none!important;
    border: 0!important;

}
.page-link:focus{
    outline:0!important;
    box-shadow: none!important;
    border: 0!important;
    color: white;
    background: linear-gradient(45deg,#e42d31,#ff0065);
}

.active>a{

    background: linear-gradient(45deg,#e42d31,#ff0065)!important;
    border: 0;

}


.category_button{

    color: #5e5e5e;
    border-radius: 9px;
    background-color: white;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 10px;
    padding-top: 10px;

}

.nav_items_clickable{

    color: white;
    font-weight: 500;


}

.nav_items_clickable:hover{

    text-decoration: none;
    color: white;

}

h1{

    font-size: 25px;
    background: -webkit-linear-gradient(45deg,#e42d31,#ff0065);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.sort_button{

    border-radius: 20px;
    font-family: Calibri;
    font-size: 13px;
    color: #989898;
    background-color: white;
    box-shadow: 0px 2px 3px 1px rgba(220,220,220,1);

}

.sort_button:hover{

    background: linear-gradient(45deg,#e42d31,#ff0065);
    color: white;

}

.sort_button:focus{

    background: linear-gradient(45deg,#e42d31,#ff0065);
    color: white;
    outline: none !important;
    box-shadow: 0px 2px 3px 1px rgba(220,220,220,1);

}

.sort_button_activated{

    background: linear-gradient(45deg,#e42d31,#ff0065);
    color: white;
    outline: none !important;
    box-shadow: 0px 2px 3px 1px rgba(220,220,220,1);


}

.over_items{

    color: #524962;
    text-align: left;
    font-size: 25px;
    font-weight: 900;

}

.item_image_discount{

    border-radius: 40px;
    width: 200px;
    max-width: 100%;
    max-height: 100%;
    height: 220px;
    box-shadow: 0px 5px 7px 3px rgb(173, 173, 173);
    background-image: url('/images/default_discount_image.png')


}
.item_parts_padding{

    text-align: center;
    padding-bottom: 10px;

}

.plus_minus{

    background-color: #f4f4f5;
    border: 0;
    outline: none;


}

.plus_minus:hover{

    background-color: #f4f4f5;
    outline: none;

}

.plus_minus:focus{

    border: 0;
    text-decoration: none;
    background-color: #f4f4f5;
    outline: none;

}

.item_button{

    width: 100%;
    background: linear-gradient(45deg,#e42d31,#ff0065);
    color: white;
    font-size: 14px;
    font-weight: 500;

}

.item_button:focus {

    outline: none !important;
    box-shadow: none !important;
}

.item_button:hover{

    color: white;
    background-color: #df4447;

}

.item_title{

    font-family: Calibri;
    font-weight: 900;
    font-size: 17px;
    color: black;

}

.no_text_decoration:hover{

    text-decoration: none;

}

.item_title:hover{

    text-decoration: underline;

}

.item_date{

    font-family: Calibri;
    font-size: 12px;
    color: #989898;

}

.item_user{

    font-family: Calibri;
    font-size: 12px;
    color: #989898;

}

body {

    background-color: white;

}

.floatingNav {
    border-radius: 2px;

    box-shadow: 0px 0px 10px 0px #999;
}
