@charset "UTF-8";

.item_image_brand{

    width: 80%;
    height: 80%;

}

.item_image_discount{

    border-radius: 10px;
    width: 60px;
    height: 66px;
    box-shadow: 0px 5px 7px 3px rgb(205, 205, 205);


}

.user_image{

    width: 35px;
    height: 35px;

}

.left_message{

    color: black;
    font-size: 17px;
    background-color: #eaeaea;
    border: 0;
    border-radius: 13px;
    width: auto;
    margin-top: 4px;
    padding: 2px 15px;
    max-width: 60%;
    overflow-wrap: break-word;

}

.right_message{

    color: white;
    font-size: 17px;
    background: linear-gradient(45deg,#e42d31,#ff0065);
    border: 0;
    border-radius: 13px;
    width: auto;
    margin-top: 4px;
    padding: 2px 15px;
    max-width: 60%;
    overflow-wrap: break-word;

}

a:link, a:visited,a:hover, a:active {
     color: inherit;
     text-decoration: none;
 }


.add_input:focus{

    outline:0!important;
    box-shadow: none!important;

}


.page-link{

    border-radius: 10px!important;
    color: #7a7a7a;
    background-color: #f4f4f5;

}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg,#e42d31,#ff0065);
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #cd282c, #cd0046);
}

.page-item:focus{
    outline:0!important;
    box-shadow: none!important;
    border: 0!important;

}
.page-link:focus{
    outline:0!important;
    box-shadow: none!important;
    border: 0!important;
    color: white;
    background: linear-gradient(45deg,#e42d31,#ff0065);
}

.active>a{

    background: linear-gradient(45deg,#e42d31,#ff0065)!important;
    border: 0;

}


.item_div{

    background-color: #f4f4f5;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 5px 7px 0px rgba(220,220,220,1);

}
.warning{

    margin-bottom: -10px;

}


.nav_items{

    padding-top: 3px;
    color: white;
    padding-right: 50px;
    font-size: 18px;
    font-weight: 400;

}
.navbar-brand{

    padding-left: 250px;
    font-family: fantasy!important;
    color: white!important;
    font-size: 30px!important;
    font-weight: 500!important;

}


.dj{

    background-color: white;
    border-radius: 30px;
    padding-top: 7px;
    padding-bottom: 1px;

}


.add_button{

    background-color: #b0193b;
    color: white;
    border-radius: 9px;
    font-size: 14px;
    font-weight: 500;


}

.new_msg{

    background-color: #f9095af0;
    color: white;
    border-radius: 9px;
    font-size: 15px;
    font-weight: 500;


}

.edit_button{

    border:0;
    border-radius: 25px;
    background-color: white;
    font-size: 16px;

}
.edit_button:hover{

    font-weight: 600;
    background-color: rgba(82, 73, 98, 0.06);

}

.edit_button:focus{

    border: 0;
    text-decoration: none;
    background-color: rgba(82, 73, 98, 0.06);
    outline: none;

}



.left_menu_button_picked{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    color: #151515;
    font-weight: 600;
    font-size: 15px;
    width: 100%;
    border: 0;

}

.left_menu_button{

    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    color: #151515;
    font-weight: 400;
    font-size: 15px;
    width: 100%;
    border: 0;

}

.left_menu_button:hover{

    background-color: rgba(82, 73, 98, 0.06);


}

.left_menu_button_picked:hover{

    background-color: rgba(82, 73, 98, 0.06);


}

.left_menu_button_picked:focus{

    border: 0;
    text-decoration: none;
    background-color: rgba(82, 73, 98, 0.06);
    outline: none;

}

.btn-primary{

    background: -webkit-linear-gradient(45deg,#e42d31,#ff0065)!important;
    border: 0!important;

}

.btn-primary:hover{

    background: -webkit-linear-gradient(45deg, #cd282c, #cd0044)!important;
    border: 0!important;

}

.btn-primary:focus{

    border: 0!important;
    text-decoration: none!important;
    outline: none!important;

}

.btn{


}



.left_menu_button:focus{

    border: 0;
    text-decoration: none;
    background-color: rgba(82, 73, 98, 0.06);
    outline: none;

}

.sort_button{

    border-radius: 20px;
    font-family: Calibri;
    font-size: 13px;
    color: #989898;
    background-color: white;
    box-shadow: 0px 2px 3px 1px rgba(220,220,220,1);

}

.sort_button:hover{

    background: linear-gradient(45deg,#e42d31,#ff0065);
    color: white;

}

.sort_button:focus{

    background: linear-gradient(45deg,#e42d31,#ff0065);
    color: white;
    outline: none !important;
    box-shadow: 0px 2px 3px 1px rgba(220,220,220,1);

}

.sort_button_activated{

    background: linear-gradient(45deg,#e42d31,#ff0065);
    color: white;
    outline: none !important;
    box-shadow: 0px 2px 3px 1px rgba(220,220,220,1);


}

h1{

    font-size: 25px;
    background: -webkit-linear-gradient(45deg,#e42d31,#ff0065);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.comment_like:hover{

    color: blue!important;

}
.no_text_decoration:hover{

    text-decoration: none;

}

body {

    background-color: white;

}

.floatingNav {
    border-radius: 2px;

    box-shadow: 0px 0px 10px 0px #999;
}




.links a{
    margin-left: 4px;
}

.nav_items_clickable{

    color: white;
    font-weight: 500;


}

.nav_items_clickable:hover{

    text-decoration: none;
    color: white;

}

.category_button{

    color: #5e5e5e;
    border-radius: 9px;
    background-color: white;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 10px;
    padding-top: 10px;

}