<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Norgie - Nowa promocja</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link type="text/css" href="/css/add_discount.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-xl navbar-light bg-light"
     style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);">
    <div class="navbar-brand" style="cursor: pointer;padding-left: 100px;" onclick="window.location='/';">
        <div class="row">
            <div class="col-4 dj text-center"><h1>NG</h1></div>
            <div class="col-6">NORGIE</div>
        </div>
    </div>
    <button class="navbar-toggler" id="navbar-toggler-button" type="button" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarTogglerDemo02" style="padding-left: 155px">
        <div class="nav navbar-nav d-flex justify-content-end" style="width: 90%;padding-bottom: 10px">
            <div class="nav_items d-flex align-items-center" style="padding-top: 10px;"
                 aria-controls="navbarToggleExternalContent"
            ><a href="/forum" class="nav_items_clickable" >Forum</a>
            </div>
            <div class="nav_items d-flex align-items-center" id="kategorie-button"
                 data-target="#kategorie" aria-controls="navbarToggleExternalContent"
                 aria-expanded="false" aria-label="Toggle navigation" style="padding-top: 10px"><a href="#" class="nav_items_clickable">Kategorie</a>
            </div>
            <div class="nav_items d-flex align-items-center" id="sklepy-button" style="padding-top: 10px;"
                 data-target="#sklepy" aria-controls="navbarToggleExternalContent"
                 aria-expanded="false" aria-label="Toggle navigation"><a href="#" class="nav_items_clickable" >Sklepy</a>
            </div>
            <div class="d-flex align-items-center" style="padding-right: 50px;padding-top: 10px" sec:authorize="!isAuthenticated()">
                <a href="/login">
                    <button type="button" style="" class="btn add_button"><span
                            class="fas fa-user"
                            style="font-size: 12px;padding-right: 3px;"></span>ZALOGUJ SIĘ
                    </button>
                </a>
            </div>
            <div class="d-flex align-items-center" style="padding-right: 50px;padding-top: 10px" sec:authorize="isAuthenticated()">
                <a href="/settings">
                    <button style="" class="btn add_button"
                            aria-haspopup="true" aria-expanded="false"
                    ><span class="fas fa-user" style="font-size: 12px;padding-right: 3px;"></span>TWOJE KONTO
                    </button>
                </a>
            </div>
            <div class="d-flex align-items-center" style="padding-top: 10px">
                <a href="/post/add">
                    <button type="button"  class="btn add_button"><span
                            class="fas fa-plus"
                            style="font-size: 12px;padding-right: 3px;"></span>DODAJ POST
                    </button>
                </a>
            </div>
        </div>
    </div>
</nav>




<div class="container-fluid" style="padding-right: 0px;padding-left: 0px">

    <div class="row collapse" id="sklepy" style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);
         ;margin-top: 0px;margin-left: 0px">
        <div class="col-lg-10 offset-lg-1" style="padding-bottom: 40px;padding-top: 30px;margin-top: -20px;">
            <div class="row" style="padding-left: 20px;padding-right: 20px">
                <div class="col-xl-2" th:each="shop : ${list_of_shops}"
                     style="padding-bottom: 5px;padding-left: 5px;padding-right: 5px">
                    <a th:href="|/forum/search/${shop.getName().toLowerCase()}|" href="/shops/biedronka">
                        <button type="button" style="width: 100%;padding-left: 3px;padding-right: 3px" class="btn category_button"
                                th:text="${shop.getName()}">DODAJ KUPON
                        </button>
                    </a>
                </div>


            </div>
        </div>

    </div>

    <div class="row collapse" id="kategorie" style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);margin-top: 0px;margin-left: 0px">
        <div class="col-lg-10 offset-lg-1" style="padding-bottom: 40px;padding-top: 30px;margin-top: -20px;">
            <div class="row" style="padding-left: 20px;padding-right: 20px">
                <div class="col-xl-2" th:each="tag : ${list_of_tags}"
                     style="padding-bottom: 5px;padding-left: 5px;padding-right: 5px">
                    <a th:href="|/forum/search/${tag.getName().toLowerCase()}|" href="/shops/biedronka">
                        <button type="button" style="width: 100%;padding-left: 3px;padding-right: 3px" class="btn category_button"
                                th:text="${tag.getName()}">DODAJ KUPON
                        </button>
                    </a>
                </div>


            </div>
        </div>

    </div>


</div>


<div class="container-fluid">
    <div class="col-xl-6 offset-xl-3" style="border-bottom: 1px solid rgba(82,73,98,.2); padding-top: 25px">
        <span class="over_items">Dodaj nowego posta!</span>
    </div>
    <div style="height: 15px"></div>
</div>
<div class="container-fluid" th:if="${error}">
    <div class="col-xl-6 offset-xl-3" style="padding-left: 0px;padding-right: 0px">
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Wypełnij wszystkie pola!</strong>
        </div>
    </div>
</div>

<div class="container-fluid ">
    <div class="row" sec:authorize="isAuthenticated()">
        <form th:action="@{/post/add}" class="w-100" method="post" enctype="multipart/form-data">
            <div class="col-xl-6 offset-xl-3 sort_div" style="box-shadow: 0px 5px 7px 0px rgba(220,220,220,1);border-width: 2px;border-style: dashed;border-color: rgb(193 188 188);">


                <div class="row">

                    <div class="col-lg-12 text-center" style="padding-top: 10px;padding-bottom: 5px;">
                        <span class="add_big">Kategoria</span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">

                            <div class="col-md-3 radio-toolbar text-center" th:each="tag : ${list_of_tags}" style="padding-bottom: 6px;padding-right: 3px;padding-left: 3px;margin: 0px;"><input type="radio" th:id="|tag_${tag.getTagId()}|" name="tag" th:value="${tag.getTagId()}">
                                <label th:for="|tag_${tag.getTagId()}|" class="w-100" th:text="${tag.getName()}" style="">Apple</label>
                            </div>




                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-12 text-center" style="padding-top: 10px;padding-bottom: 5px;">
                        <span class="add_big">Sklep</span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">

                            <div class="col-md-3 radio-toolbar text-center" th:each="shop : ${list_of_shops}" style="padding-bottom: 6px;padding-right: 3px;padding-left: 3px;margin: 0px;"><input type="radio" th:id="|shop_${shop.getShopId()}|" name="shop" th:value="${shop.getShopId()}">
                                <label th:for="|shop_${shop.getShopId()}|" class="w-100" th:text="${shop.getName()}">Apple</label>
                            </div>


                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-12 text-center" style="padding-top: 10px;padding-bottom: 5px;">
                        <span class="add_big">Tytuł</span>
                    </div>

                </div>
                <div class="row" style="padding-bottom: 10px">
                    <div class="col-md-12">
                        <input type="text" class="add_input" maxlength="499" id="title" minlength="3" name="title" value="" placeholder=" Tytuł zwięźle opisujący treść posta">
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-12 text-center" style="padding-top: 10px;padding-bottom: 5px;">
                        <span class="add_big">Opis</span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <textarea rows="15" cols="33" style="width: 100%;border-radius: 6px" minlength="3" maxlength="1499" id="content" name="content"></textarea>
                    </div>
                </div>




                <div class="row">

                    <div class="col-md-12 offset-md-" style="padding-top: 15px;">
                        <button type="submit" style="white-space:pre;font-size: 18px;border-radius: 10px" class="btn item_button">Dodaj Posta</button>
                    </div>

                </div>
                <div style="height: 20px"></div>



            </div>
            <div style="height: 50px;width: 100%"></div>
        </form>
    </div>
</div>


<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script
        src="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    document.getElementById ("kategorie-button").addEventListener ("click", collapseSklepy, false);
    document.getElementById ("sklepy-button").addEventListener ("click", collapseKategorie, false);
    document.getElementById ("navbar-toggler-button").addEventListener ("click", collapseNavbar, false);


    async function collapseKategorie() {
        $('#kategorie').collapse('hide');
        $('#navbarTogglerDemo02').collapse('hide');
        await sleep(350);
        $('#sklepy').collapse('toggle');
    }
    async function collapseSklepy() {
        $('#sklepy').collapse('hide');
        $('#navbarTogglerDemo02').collapse('hide');
        await sleep(350);
        $('#kategorie').collapse('toggle');

    }
    async function collapseNavbar() {
        $('#sklepy').collapse('hide');
        $('#kategorie').collapse('hide');
        await sleep(350);
        $('#navbarTogglerDemo02').collapse('toggle');
    }
</script>
</body>
</html>