<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link type="text/css" href="css/discount.css" rel="stylesheet"/>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: linear-gradient(45deg,#e42d31,#ff0065);">
    <div class="navbar-brand" href="#">
        <div class="row">
            <div class="col-md-4 dj text-center"><h1>NG</h1></div>
            <div class="col-md-6">NORGIE</div>
        </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="nav navbar-nav ml-auto" style="padding-right: 250px">
            <li class="nav_items">Kategorie</li>
            <li class="nav_items">Sklepy</li>
            <li style="padding-right: 50px;">
                <button type="button" style="" class="btn add_button"><span class="fas fa-user"
                                                                            style="font-size: 12px;"></span>
                    ZALOGUJ SIĘ
                </button>
            </li>
            <li>
                <button type="button" style="" class="btn add_button"><span class="fas fa-plus"
                                                                            style="font-size: 12px;"></span>
                    DODAJ KUPON
                </button>
            </li>
        </ul>
    </div>
</nav>
<div style="height: 20px"></div>
<div class="container-fluid ">
    <div class="row mix-container">
        <div class="col-md-8 offset-md-2 sort_div" style="box-shadow: 0px 5px 7px 0px rgba(220,220,220,1);">
            <div class="row text-left" style="display: flex;
                align-items: center;
                justify-content: center">
                <div class="col-md-3" style="padding-top: 15px;padding-bottom: 15px;">
                    <img src="images/2.jpg" class="item_image_discount">
                </div>
                <div class="col-md-9" style="">
                    <div class="row" style="padding-right: 65px;">
                        <div class="col-md-12 item_title"
                             style="padding-left: 0;border-bottom: 1px solid rgba(82,73,98,.2);padding-bottom: 3px">
                            Oneplus 7T Pro 8/256GB (możliwe 2.630 zł)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="padding-right: 65px;padding-top: 5px;font-size: 15px">
                            Przetworniki neodymowe o średnicy 50 mm zapewniają szeroki i jednocześnie wiernie
                            odwzorowany zakres dźwięków

                            Każdy głośnik jest wybierany ręcznie z całą starannością, dostrajany i testowany przed
                            dopasowaniem w celu zapewnienia najbardziej szczegółowego

                        </div>

                    </div>
                </div>
            </div>
            <div class="row" style="padding-bottom: 10px;padding-left: 17px;">
                <div class="col-md-2 text-center" style="border-radius: 15px;border: 2px solid #ff0065;">
                    <span class="fas fa-plus" style="color: #ff0065;font-size: 15px;"></span><span
                        style="color:#ff0065;font-size: 18px;font-weight: 900;white-space:pre;padding-left: 15px">255</span><span
                        class="fas fa-temperature-high"
                        style="color: #ff0065;font-size: 16px;padding-right: 15px;"></span><span
                        class="fas fa-minus" style="font-size: 15px;color: #7499e2"></span>
                </div>
                <div class="col-md-5 offset-md-1">
                    <span style="font-weight: 900;font-size: 21px;font-family: Calibri;color: rgba(22, 21, 21, 0.91);padding-right: 5px;text-decoration: underline">552,64zł</span>
                    <span style="font-weight: 500;font-size: 21px;font-family: Calibri;color: rgba(145,143,146,0.91);padding-right: 5px; text-decoration: line-through;">680zł</span>
                    <span style="font-weight: 900;font-size: 21px;font-family: Calibri;color: rgba(22, 21, 21, 0.91);padding-right: 5px ">-19%</span>
                    <span class="fas fa-truck"
                          style="font-size: 18px;color: rgba(145,143,146,0.91);padding-right: 3px"></span><span
                        style="font-weight: 500;font-size: 21px;font-family: Calibri;color: rgba(145,143,146,0.91); ">20zł</span>
                </div>
                <div class="col-md-3 offset-md-1">
                    <span style="padding-right: 3px;font-weight: 500;font-size: 17px;font-family: Calibri;color: rgba(145,143,146,0.91);">Oferta wygasa:</span><span
                        style="font-weight: 900;font-size: 19px;font-family: Calibri;color: #1e7e34;">25.06.20</span>
                </div>
            </div>
        </div>


        <div class="col-md-8 offset-md-2">
            <div class="row">
                <div class="col-md-12" style="padding-top: 10px;padding-bottom: 10px">
                    <a href="/discount">
                        <button type="button" style="width: 100%" class="btn item_button">
                            <span class="fas fa-arrow-right"></span> <span class="fas fa-arrow-right"> </span>
                            https://www.amazon.de/dp/B01N5VHLUG/?language=pl_PL&tag=pepperpl09-21 <span
                                class="fas fa-arrow-left"> </span> <span
                                class="fas fa-arrow-left"> </span></button>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-8 offset-md-2 sort_div" style="box-shadow: 0px 3px 5px 0px rgba(220,220,220,1);">
            <div class="row text-center" style="padding-top: 5px;padding-bottom: 5px;">
                <div class="col-md-2 offset-md-2"
                     style="font-family: Calibri;font-weight: 900;font-size: 17px;color: rgba(22, 21, 21, 0.91);padding-top: 3px;">
                    KOMENTARZE (53):
                </div>

                <div class="col-md-2"
                     style="font-family: Calibri;font-weight: 900;font-size: 19px;color: rgba(22, 21, 21, 0.91);">
                    <button type="button" style="white-space:pre" data-sort="number-rate:asc" class="btn sort_button">najlepsze</button>

                </div>
                <div class="col-md-2"
                     style="font-family: Calibri;font-weight: 900;font-size: 19px;color: rgba(22, 21, 21, 0.91);">
                    <button type="button" style="white-space:pre" data-sort="number-rate:desc" class="btn sort_button">najnowsze</button>

                </div>
                <div class="col-md-2"
                     style="font-family: Calibri;font-weight: 900;font-size: 19px;color: rgba(22, 21, 21, 0.91);">
                    <button type="button" style="white-space:pre" class="btn sort_button">najstarsze</button>

                </div>
            </div>
        </div>
        <div class="mix category-a" data-number-rate="5">
            <div class="col-md-8 offset-md-2" style="height: 15px;"></div>
            <div class="col-md-8 offset-md-2 sort_div"
                 style="box-shadow: 0px 5px 7px 0px rgba(220,220,220,1);padding-top: 10px;">

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2 offset-md-1 text-center"
                                 style="border-bottom: 1px solid rgba(82,73,98,.2)">
                                <span style="font-size:14px;font-weight:900;color:#e42d31; padding-right: 5px">Rafineria</span>
                                <span style="font-size:12px;font-weight: 900;color: rgba(145,143,146,0.91);">2 dni temu</span>
                            </div>
                            <div class="col-md-1 offset-md-7 text-center">
                            <span class="fas fa-thumbs-up"
                                  style="font-size:13px;font-weight: 900;color: rgba(145,143,146,0.91);padding-right: 4px"></span><span
                                    style="font-size:14px;font-weight: 900;color: rgba(145,143,146,0.91);">23</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-top: 7px;padding-bottom: 10px">
                        <div class="row">
                            <div class="col-md-10 offset-md-1" style="font-size: 14px;font-weight: 500">
                                Ostatnio wyszedł ich test na rtings i jeśli idzie o dźwięk, to ocena (neutral sound)
                                wypadła im jedna z najlepszych
                                w historii portalu, za Sennheiserami (6300 zł) i HiFiManami x3 (1500 zł / 3800 zł / 5000
                                zł). 5. miejsce na 416 przetestowanych słuchawek.
                                Ostatnio wyszedł ich test na rtings i jeśli idzie o dźwięk, to ocena (neutral sound)
                                wypadła im jedna z najlepszych w historii portalu, za Sennheiserami (6300 zł)
                                i HiFiManami x3 (1500 zł / 3800 zł / 5000 zł). 5. miejsce na 416 przetestowanych
                                słuchawek.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-bottom: 15px">
                        <div class="row">
                            <div class="col-md-10 offset-md-1" style="font-size: 14px;font-weight: 500">
                               <a href="" class="comment_like">
                                <span class="fas fa-thumbs-up"
                                     style="font-size:16px;font-weight: 900;color: rgba(145,143,146,0.91);padding-right: 4px"></span><span
                                    style="font-size:15px;font-weight: 900;color: rgba(145,143,146,0.91);">Lubię to</span>
                               </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="mix category-a" data-number-rate="22">
            <div class="col-md-8 offset-md-2" style="height: 15px;"></div>
            <div class="col-md-8 offset-md-2 sort_div"
                 style="box-shadow: 0px 5px 7px 0px rgba(220,220,220,1);padding-top: 10px;">

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2 offset-md-1 text-center"
                                 style="border-bottom: 1px solid rgba(82,73,98,.2)">
                                <span style="font-size:14px;font-weight:900;color:#e42d31; padding-right: 5px">Rafineria</span>
                                <span style="font-size:12px;font-weight: 900;color: rgba(145,143,146,0.91);">2 dni temu</span>
                            </div>
                            <div class="col-md-1 offset-md-7 text-center">
                            <span class="fas fa-thumbs-up"
                                  style="font-size:13px;font-weight: 900;color: rgba(145,143,146,0.91);padding-right: 4px"></span><span
                                    style="font-size:14px;font-weight: 900;color: rgba(145,143,146,0.91);">23</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-top: 7px;padding-bottom: 15px">
                        <div class="row">
                            <div class="col-md-10 offset-md-1" style="font-size: 14px;font-weight: 500">
                                Ostatnio wyszedł ich test na rtings i jeśli idzie o dźwięk, to ocena (neutral sound)
                                wypadła im jedna z najlepszych
                                w historii portalu, za Sennheiserami (6300 zł) i HiFiManami x3 (1500 zł / 3800 zł / 5000
                                zł). 5. miejsce na 416 przetestowanych słuchawek.
                                Ostatnio wyszedł ich test na rtings i jeśli idzie o dźwięk, to ocena (neutral sound)
                                wypadła im jedna z najlepszych w historii portalu, za Sennheiserami (6300 zł)
                                i HiFiManami x3 (1500 zł / 3800 zł / 5000 zł). 5. miejsce na 416 przetestowanych
                                słuchawek.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="mix category-a" data-number-rate="32">
            <div class="col-md-8 offset-md-2" style="height: 15px;"></div>
            <div class="col-md-8 offset-md-2 sort_div"
                 style="box-shadow: 0px 5px 7px 0px rgba(220,220,220,1);padding-top: 10px;">

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2 offset-md-1 text-center"
                                 style="border-bottom: 1px solid rgba(82,73,98,.2)">
                                <span style="font-size:14px;font-weight:900;color:#e42d31; padding-right: 5px">Rafineria</span>
                                <span style="font-size:12px;font-weight: 900;color: rgba(145,143,146,0.91);">2 dni temu</span>
                            </div>
                            <div class="col-md-1 offset-md-7 text-center">
                            <span class="fas fa-thumbs-up"
                                  style="font-size:13px;font-weight: 900;color: rgba(145,143,146,0.91);padding-right: 4px"></span><span
                                    style="font-size:14px;font-weight: 900;color: rgba(145,143,146,0.91);">23</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-top: 7px;padding-bottom: 15px">
                        <div class="row">
                            <div class="col-md-10 offset-md-1" style="font-size: 14px;font-weight: 500">
                                Ostatnio wyszedł ich test na rtings i jeśli idzie o dźwięk, to ocena (neutral sound)
                                wypadła im jedna z najlepszych
                                w historii portalu, za Sennheiserami (6300 zł) i HiFiManami x3 (1500 zł / 3800 zł / 5000
                                zł). 5. miejsce na 416 przetestowanych słuchawek.
                                Ostatnio wyszedł ich test na rtings i jeśli idzie o dźwięk, to ocena (neutral sound)
                                wypadła im jedna z najlepszych w historii portalu, za Sennheiserami (6300 zł)
                                i HiFiManami x3 (1500 zł / 3800 zł / 5000 zł). 5. miejsce na 416 przetestowanych
                                słuchawek.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="mix category-a" data-number-rate="24">
            <div class="col-md-8 offset-md-2" style="height: 15px;"></div>
            <div class="col-md-8 offset-md-2 sort_div"
                 style="box-shadow: 0px 5px 7px 0px rgba(220,220,220,1);padding-top: 10px;">

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2 offset-md-1 text-center"
                                 style="border-bottom: 1px solid rgba(82,73,98,.2)">
                                <span style="font-size:14px;font-weight:900;color:#e42d31; padding-right: 5px">Rafineria</span>
                                <span style="font-size:12px;font-weight: 900;color: rgba(145,143,146,0.91);">2 dni temu</span>
                            </div>
                            <div class="col-md-1 offset-md-7 text-center">
                            <span class="fas fa-thumbs-up"
                                  style="font-size:13px;font-weight: 900;color: rgba(145,143,146,0.91);padding-right: 4px"></span><span
                                    style="font-size:14px;font-weight: 900;color: rgba(145,143,146,0.91);">23</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-top: 7px;padding-bottom: 15px">
                        <div class="row">
                            <div class="col-md-10 offset-md-1" style="font-size: 14px;font-weight: 500">
                                Ostatnio wyszedł ich test na rtings i jeśli idzie o dźwięk, to ocena (neutral sound)
                                wypadła im jedna z najlepszych
                                w historii portalu, za Sennheiserami (6300 zł) i HiFiManami x3 (1500 zł / 3800 zł / 5000
                                zł). 5. miejsce na 416 przetestowanych słuchawek.
                                Ostatnio wyszedł ich test na rtings i jeśli idzie o dźwięk, to ocena (neutral sound)
                                wypadła im jedna z najlepszych w historii portalu, za Sennheiserami (6300 zł)
                                i HiFiManami x3 (1500 zł / 3800 zł / 5000 zł). 5. miejsce na 416 przetestowanych
                                słuchawek.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="mix category-a" data-number-rate="3">
            <div class="col-md-8 offset-md-2" style="height: 15px;"></div>
            <div class="col-md-8 offset-md-2 sort_div"
                 style="box-shadow: 0px 5px 7px 0px rgba(220,220,220,1);padding-top: 10px;">

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2 offset-md-1 text-center"
                                 style="border-bottom: 1px solid rgba(82,73,98,.2)">
                                <span style="font-size:14px;font-weight:900;color:#e42d31; padding-right: 5px">Rafineria</span>
                                <span style="font-size:12px;font-weight: 900;color: rgba(145,143,146,0.91);">2 dni temu</span>
                            </div>
                            <div class="col-md-1 offset-md-7 text-center">
                            <span class="fas fa-thumbs-up"
                                  style="font-size:13px;font-weight: 900;color: rgba(145,143,146,0.91);padding-right: 4px"></span><span
                                    style="font-size:14px;font-weight: 900;color: rgba(145,143,146,0.91);">23</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-top: 7px;padding-bottom: 15px">
                        <div class="row">
                            <div class="col-md-10 offset-md-1" style="font-size: 14px;font-weight: 500">
                                Ostatnio wyszedł ich test na rtings i jeśli idzie o dźwięk, to ocena (neutral sound)
                                wypadła im jedna z najlepszych
                                w historii portalu, za Sennheiserami (6300 zł) i HiFiManami x3 (1500 zł / 3800 zł / 5000
                                zł). 5. miejsce na 416 przetestowanych słuchawek.
                                Ostatnio wyszedł ich test na rtings i jeśli idzie o dźwięk, to ocena (neutral sound)
                                wypadła im jedna z najlepszych w historii portalu, za Sennheiserami (6300 zł)
                                i HiFiManami x3 (1500 zł / 3800 zł / 5000 zł). 5. miejsce na 416 przetestowanych
                                słuchawek.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

</div>

<script
        src="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="js/mixitup/dist/mixitup.min.js"></script>
<script>
    const miks = document.querySelector(".mix-container")
    var mixer = mixitup(miks);
</script>
</body>
</html>