<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Norgie - Strona Główna</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link type="text/css" href="/css/home.css" rel="stylesheet"/>


</head>
<body>


</div><div style="padding-bottom: 35px"></div>
<div class="container-fluid d-flex justify-content-center" style="width: 100%">
    <div style="width: 90%">

        <div class="row" style="width: 100%;margin-left: 0;margin-right: 0">
            <nav class="navbar navbar-expand-xl navbar-light bg-light"
                 style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);border-radius: 10px; padding-bottom: 30px;padding-top: 30px">
                <div class="navbar-brand" style="cursor: pointer;padding-left: 50px;" onclick="window.location='/';">
                    <div class="row">
                        <div class="col-4 dj text-center"><h1>NG</h1></div>
                        <div class="col-6">NORGIE</div>
                    </div>
                </div>
                <button class="navbar-toggler" id="navbar-toggler-button" type="button" data-target="#navbarTogglerDemo02"
                        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarTogglerDemo02" style="padding-left: 60px">
                    <div class="nav navbar-nav d-flex justify-content-end" style="width: 90%;padding-bottom: 10px">
                        <div class="nav_items d-flex align-items-center" style="padding-top: 5px;padding-bottom:7px"
                             aria-controls="navbarToggleExternalContent"
                             ><a href="/forum" class="nav_items_clickable" >Forum</a>
                        </div>
                        <div class="nav_items d-flex align-items-center" id="kategorie-button"
                            data-target="#kategorie" aria-controls="navbarToggleExternalContent"
                            aria-expanded="false" aria-label="Toggle navigation" style="padding-bottom: 5px"><a href="#" class="nav_items_clickable">Kategorie</a>
                        </div>
                        <div class="nav_items d-flex align-items-center" id="sklepy-button" style="padding-top: 5px;padding-bottom: 5px"
                            data-target="#sklepy" aria-controls="navbarToggleExternalContent"
                            aria-expanded="false" aria-label="Toggle navigation"><a href="#" class="nav_items_clickable" >Sklepy</a>
                        </div>
                        <div class="d-flex align-items-center" style="padding-right: 50px;padding-top: 10px" sec:authorize="!isAuthenticated()">
                            <a href="/login">
                                <button type="button" style="" class="btn add_button"><span
                                        class="fas fa-user"
                                        style="font-size: 12px;padding-right: 3px;"></span>ZALOGUJ SIĘ
                                </button>
                            </a>
                        </div>
                        <div class="d-flex align-items-center" style="padding-right: 50px;padding-top: 10px" sec:authorize="isAuthenticated()">
                            <a href="/settings">
                                <button style="" class="btn add_button"
                                        aria-haspopup="true" aria-expanded="false"
                                ><span class="fas fa-user" style="font-size: 12px;padding-right: 3px;"></span>TWOJE KONTO
                                </button>
                            </a>
                        </div>
                        <div class="d-flex align-items-center" style="padding-top: 10px">
                            <a href="/add/discount">
                                <button type="button"  class="btn add_button"><span
                                        class="fas fa-plus"
                                        style="font-size: 12px;padding-right: 3px;"></span>DODAJ OKAZJE
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row collapse" id="kategorie" style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);border-radius: 10px;
         ;margin-top: -25px;margin-left: 0px">
            <div class="col-lg-10 offset-lg-1" style="padding-bottom: 40px;padding-top: 30px;margin-top: -20px;">
                <div class="row" style="padding-left: 20px;padding-right: 20px">
                    <div class="col-xl-2" th:each="tag : ${list_of_tags}"
                         style="padding-bottom: 5px;padding-left: 5px;padding-right: 5px">
                        <a th:href="|/categories/${tag.getName().toLowerCase()}|" href="/shops/biedronka">
                            <button type="button" style="width: 100%;padding-left: 3px;padding-right: 3px" class="btn category_button"
                                    th:text="${tag.getName()}">DODAJ KUPON
                            </button>
                        </a>
                    </div>


                </div>
            </div>

        </div>
        <div class="row collapse" id="sklepy" style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);border-radius: 10px;
         ;margin-top: -25px;margin-left: 0px">
            <div class="col-lg-10 offset-lg-1" style="padding-bottom: 40px;padding-top: 30px;margin-top: -20px;">
                <div class="row" style="padding-left: 20px;padding-right: 20px">
                    <div class="col-xl-2" th:each="shop : ${list_of_shops}"
                         style="padding-bottom: 5px;padding-left: 5px;padding-right: 5px">
                        <a th:href="|/shops/${shop.getName().toLowerCase()}|" href="/shops/biedronka">
                            <button type="button" style="width: 100%;padding-left: 3px;padding-right: 3px" class="btn category_button"
                                    th:text="${shop.getName()}">DODAJ KUPON
                            </button>
                        </a>
                    </div>


                </div>
            </div>

        </div>

        <div class="row d-flex justify-content-center" style="width: 100%;margin-top: -25px;margin-right: 0;margin-left: 0">
            <div class="col-xl-6">
                <form th:action="@{/search}" method="post" id="searchform1">
                    <input class="form-control mr-sm-0 input nav_search" minlength="3"  id="searchform" name="searchform"
                           data-ref="input-search" type="search" placeholder="np. Adidas, Neonet, Telefon, CCC"
                           aria-label="Search">
                    <input type="submit" style="height: 0px; width: 0px; border: none; padding: 0px;" hidefocus="true" />
                </form>

            </div>
        </div>
    </div>

</div>

<!--koniectest-->
<div class="container" style="border-bottom: 1px solid rgba(82,73,98,.2); padding-top: 25px">
    <span class="over_items">Najlepsze kody, kupony i obniżki! </span>
    <div style="height: 15px"></div>
        <span th:if="${additional_results_info!=null}"style="color: rgba(0,0,0,0.78);font-size: 20px;font-weight: 400;margin-top: -15px;">Wyniki dla<span th:if="${additional_results_info_more!=null}"
         th:text="${additional_results_info_more}"></span> "<span th:text="${additional_results_info}" style="color: #ed1d43;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -o-pre-wrap;
                                 word-wrap: break-word;">Adidas</span>"</span>
</div>




<!--main menu-->
<div class="container" style="padding-top: 25px;">

    <div class="row" style="padding-left: 15px;padding-right: 15px;">
        <div class="container-fluid sort_div" style="width: 100%">
            <div class="row">
                <div class="col-lg-6 d-flex flex-row sort_div" style="padding-top: 10px;padding-bottom: 10px;">
                    <a th:href="|${sort_buttons_prefix +'top-rated'}|">

                        <button th:if="${picked_sort == 1}" type="button" data-mixitup-control data-sort="number-rate:desc"
                                class="btn sort_button sort_button_activated" style="margin-right: 10px">Najlepiej oceniane
                        </button>
                        <button th:if="${picked_sort != 1}" type="button" data-mixitup-control data-sort="number-rate:desc"
                                class="btn sort_button" style="margin-right: 10px">Najlepiej oceniane
                        </button>
                    </a>
                    <a th:href="|${sort_buttons_prefix +'most-comments'}|">
                        <button type="button" th:if="${picked_sort != 2}"  data-mixitup-control data-sort="number-comment:desc"
                                class="btn sort_button" style="margin-right: 10px">Najczęściej komentowane
                        </button>
                        <button type="button" th:if="${picked_sort == 2}"  data-mixitup-control data-sort="number-comment:desc"
                                class="btn sort_button sort_button_activated" style="margin-right: 10px">Najczęściej komentowane
                        </button>
                    </a>
                    <a th:href="|${sort_buttons_prefix +'date'}|">
                        <button type="button" th:if="${picked_sort == 3}" data-mixitup-control data-sort="number-date:asc"
                                class="btn sort_button sort_button_activated">Najnowsze promocje
                        </button>
                        <button type="button" th:if="${picked_sort != 3}" data-mixitup-control data-sort="number-date:asc"
                                class="btn sort_button">Najnowsze promocje
                        </button>
                    </a>
                </div>
                <div class="col-lg-6 d-flex flex-row-reverse sort_div" style="padding-top: 10px;padding-bottom: 10px;">

                    <form th:action="@{/filter}" method="post">
                        <button type="submit" data-mixitup-control data-sort="number-comment:desc"
                                class="btn sort_button" style="border-radius: 5px" th:if="${session.filter==null||session.filter.equals('false')}"><i class="fas fa-filter"></i> Filtruj nieaktualne
                        </button>
                        <button type="submit" data-mixitup-control data-sort="number-comment:desc"
                                class="btn sort_button sort_button_activated" style="border-radius: 5px" th:if="${session.filter!=null&&session.filter.equals('true')}"><i class="fas fa-filter"></i> Filtruj nieaktualne
                        </button>
                    </form>

                </div>

            </div>
        </div>
    </div>
    <div class="row" style="padding-left: 15px;padding-right: 15px;margin-top: -8px;">
        <div class="container-fluid sort_div" style="width: 100%">
            <div class="row">

                <div class="col-lg-6 d-flex flex-row sort_div" style="padding-top: 10px;padding-bottom: 10px;" th:if="${picked_time!=null}">
                    <a th:href="|${time_buttons_prefix +'day'}|" th:if="${picked_sort != 3}">
                        <button type="button" th:if="${picked_time!=1}"  data-mixitup-control data-sort="number-date:asc"
                                class="btn sort_button sort_button" style="">Ostatnie 24h
                        </button>
                        <button type="button" th:if="${picked_time==1}" data-mixitup-control data-sort="number-date:asc"
                                class="btn sort_button sort_button_activated" style="">Ostatnie 24h
                        </button>

                    </a>
                    <a th:href="|${time_buttons_prefix +'week'}|" th:if="${picked_sort != 3}">
                        <button type="button" th:if="${picked_time!=2}" data-mixitup-control data-sort="number-date:asc"
                                class="btn sort_button sort_button" style="margin-left: 10px">Ostatni tydzien
                        </button>
                        <button type="button" th:if="${picked_time==2}" data-mixitup-control data-sort="number-date:asc"
                                class="btn sort_button sort_button_activated" style="margin-left: 10px">Ostatni tydzien
                        </button>

                    </a>

                    <a th:href="|${time_buttons_prefix +'all'}|" th:if="${picked_sort != 3}">
                        <button type="button" th:if="${picked_time!=3}" data-mixitup-control data-sort="number-date:asc"
                                class="btn sort_button sort_button" style="margin-left: 10px">Wszystkie
                        </button>
                        <button type="button" th:if="${picked_time==3}" data-mixitup-control data-sort="number-date:asc"
                                class="btn sort_button sort_button_activated" style="margin-left: 10px">Wszystkie
                        </button>

                    </a>

                </div>
            </div>
        </div>
    </div>

    <!-- discounts-->
    <div class="row mix-container  h-100" style="padding-top: 20px;height: 530px">
        <div class="col-lg-3 mix h-100 " th:each="discount : ${list_of_discounts}" th:if="${!discount.isDeleted()&&!discount.isAwaiting()}"
             th:classappend="|${discount.getTag().getName().toLowerCase()} ${discount.getShop().getName().toLowerCase()}|"
             style="padding-bottom: 30px;"
             th:attr="data-number-rate=${discount.getRatingsSize()}, data-number-comment=${discount.getCommentsSize()}, data-number-date=${discount.getDataToNumber()}">
            <!-- discount outdated=false -->
            <div class="col-lg-12 item_div" th:if="${!discount.isOutDated()}">
                        <!-- Brand icon-->
                        <div class="row item_parts_padding" style="padding-top: 5px; padding-bottom: 5px;">
                            <div class="col-lg-12">
                                <a th:href="@{|/discount/${discount.getDiscount_id()}|}" href="jd"> <img
                                        th:src="|/${discount.getShop().getImage_url()}|" class="item_image_brand"><img> </a>
                            </div>
                        </div>
                <!-- Discount image-->
                <div class="row item_parts_padding">

                    <div class="col-lg-12">
                        <a th:href="@{|/discount/${discount.getDiscount_id()}|}" href="/">
                            <img th:src="${discount.getImage_url()}" onerror="this.src='/images/default_discount_image.png'" class="item_image_discount">
                        </a>
                    </div>
                </div>
                <!-- Title-->
                <div class="row item_parts_padding" style="padding-bottom: 0">
                    <div class="col-lg-12">
                        <a th:href="@{|/discount/${discount.getDiscount_id()}|}" href="jd"> <span class="item_title" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: block;"
                                                                                                  th:text="${discount.getTitle()}">Oneplus 7T Pro 8/256GB (możliwe 2.630 zł)</span></a>
                    </div>
                </div>
                <!-- Price-->
                <div class="row item_parts_padding" style="padding-bottom: 0" th:if="${discount.getType().equals('OBNIZKA')}">
                    <div class="col-lg-12" style="filter: grayscale(30%);font-weight: 900;color: #f70f55;font-size: 14px;">
                        <span style="font-weight: 600;font-size: 16px;font-family: Calibri;color: rgba(145,143,146,0.91);padding-right: 5px; text-decoration: line-through;" th:text="|${discount.getOld_price()}zł|">680zł</span>
                        <span style="font-weight: 900;font-size: 16px;font-family: Calibri;color: rgb(235 35 62);padding-right: 5px;"th:text="|${discount.getCurrent_price()}zł|">552,64zł</span>
                        <span style="font-weight: 900;font-size: 16px;font-family: Calibri;color: rgba(22, 21, 21, 0.91);padding-right: 5px "th:text="|-${discount.getDifference()}%|">-19%</span>
                    </div>
                </div>
                <div class="row item_parts_padding" style="padding-bottom: 0" th:if="${discount.getType().equals('KUPONNORMALNY')}">
                    <div class="col-lg-12" style="filter: grayscale(30%);font-weight: 900;color: #f70f55;font-size: 14px;">
                        KUPON: -<span style="font-weight: 900;font-size: 16px;font-family: Calibri;color: rgb(235 35 62);padding-right: 5px;"th:text="|${discount.getOld_price()}zł|">552,64zł</span>

                    </div>
                </div>
                <div class="row item_parts_padding" style="padding-bottom: 0" th:if="${discount.getType().equals('KUPONPROCENT')}">
                    <div class="col-lg-12" style="filter: grayscale(30%);font-weight: 900;color: #f70f55;font-size: 14px;">
                        KUPON: -<span style="font-weight: 900;font-size: 16px;font-family: Calibri;color: rgb(235 35 62);padding-right: 5px;"th:text="|${discount.getOld_price()}%|">552,64zł</span>
                    </div>
                </div>
                <div class="row item_parts_padding" style="padding-bottom: 0" th:if="${discount.getType().equals('KODNORMALNY')}">
                    <div class="col-lg-12" style="filter: grayscale(30%);font-weight: 900;color: #f70f55;font-size: 14px;">
                        KOD: -<span style="font-weight: 900;font-size: 16px;font-family: Calibri;color: rgb(235 35 62);padding-right: 5px;"th:text="|${discount.getOld_price()}zł|">552,64zł</span>

                    </div>
                </div>
                <div class="row item_parts_padding" style="padding-bottom: 0" th:if="${discount.getType().equals('KODPROCENT')}">
                    <div class="col-lg-12" style="filter: grayscale(30%);font-weight: 900;color: #f70f55;font-size: 14px;">
                        KOD: -<span style="font-weight: 900;font-size: 16px;font-family: Calibri;color: rgb(235 35 62);padding-right: 5px;"th:text="|${discount.getOld_price()}%|">552,64zł</span>

                    </div>
                </div>
                <!-- Date-->
                <div class="row item_parts_padding" style="padding-bottom: 0">
                    <div class="col-lg-12">
                        <span class="item_date">Oferta wygasa: </span><span class="item_user"
                                                                            style="font-weight: 900; font-size: 15px; color: #1e7e34"
                                                                            th:text="${discount.getExpire_date_formated()}">25.06.20</span>
                    </div>

                </div>
                <!-- User-->
                <div class="row item_parts_padding" style="padding-bottom: 0">
                    <div class="col-lg-12">
                        <span class="item_user">Dodane przez: </span><a href="/" th:href="@{|/profile/${discount.getUser().getLogin()}|}"><span class="item_user"
                                                                                       style="font-weight: 900; font-size: 15px;color: black;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"
                                                                                       th:text="${discount.getUser().getLogin()}">Rafineria</span></a>
                    </div>
                </div>
                <!-- Rate + Comments-->
                <div class="row item_parts_padding d-flex justify-content-around" style="padding-top: 10px">
                    <div class="">
                        <div class="row">
                            <form th:action="@{/addrate}" method="post">
                                <input class="fas fa-plus plus_minus" style="color: #f14648;font-size: 14px;"
                                       value="&#xf067;" type="submit"><input type="hidden" name="discountidadd"
                                                                             id="discountidadd"
                                                                             th:value="${discount.getDiscount_id()}">
                                <input type="hidden" name="redirect"
                                       id="redirect"
                                       value="">
                            </form>
                            <span
                                    style="color:red;font-size: 16px;font-weight: 900;white-space:pre"
                                    th:text="|${discount.getRatingsSize()}|">  255  </span>
                            <form th:action="@{/removerate}" method="post"><input
                                    class="fas fa-minus plus_minus" style="font-size: 14px;color: #9e9ea4"
                                    value="&#xf068;" type="submit"><input type="hidden" name="discountidremove"
                                                                          id="discountidremove"
                                                                          th:value="${discount.getDiscount_id()}">
                                <input type="hidden" name="redirect_remove"
                                       id="redirect_remove"
                                       value="">
                            </form>
                        </div>


                    </div>
                    <div class="">
                        <a th:href="@{|/discount/${discount.getDiscount_id()}|}" class="no_text_decoration"><span
                                class="fas fa-comments"
                                style="color: #9e9ea4;font-size: 14px;"></span><span
                                style="color: #9e9ea4;font-size: 16px;font-weight: 900;white-space:pre"
                                th:text="|   ${discount.getCommentsSize()}|">  255</span></a>
                    </div>
                </div>
                <!--Discount Button-->
                <div class="row item_parts_padding" style="padding-bottom: 15px">
                    <div class="col-lg-12">
                        <a th:href="@{|/discount/${discount.getDiscount_id()}|}">
                            <button type="button"  class="btn item_button" th:if="${!discount.isOutDated()}">

                                    Przejdz do promocji
                                <span class="fas fa-arrow-right"></span></button>
<!--                            <button type="button"  class="btn item_button" th:if="${discount.isOutDated()}" style="background: linear-gradient(45deg,lightblue,lightblue);">-->

<!--                                Przejdz do oferty-->
<!--                                <span class="fas fa-arrow-right"></span></button>-->
                        </a>
                    </div>
                </div>
            </div>
            <!-- discount outdated=true -->
            <div class="col-lg-12 item_div" th:if="${discount.isOutDated()}" style="filter: grayscale(90%)">
                <!-- Brand icon-->
                <div class="row item_parts_padding" style="padding-top: 5px; padding-bottom: 5px;">
                    <div class="col-md-12">
                        <a th:href="@{|/discount/${discount.getDiscount_id()}|}" href="jd"> <img
                                th:src="|/${discount.getShop().getImage_url()}|" class="item_image_brand"><img> </a>
                    </div>
                </div>
                <!-- Discount image-->
                <div class="row item_parts_padding">

                    <div class="col-md-12">
                        <a th:href="@{|/discount/${discount.getDiscount_id()}|}" href="/">
                            <img th:src="${discount.getImage_url()}" onerror="this.src='/images/default_discount_image.png'" class="item_image_discount">
                        </a>
                    </div>
                </div>
                <!-- Title-->
                <div class="row item_parts_padding" style="padding-bottom: 0">
                    <div class="col-md-12">
                        <a th:href="@{|/discount/${discount.getDiscount_id()}|}" href="asd"> <span class="item_title" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: block;"
                                                                                                  th:text="${discount.getTitle()}">Oneplus 7T Pro 8/256GB (możliwe 2.630 zł)</span></a>
                    </div>
                </div>
                <!-- Price-->
                <div class="row item_parts_padding" style="padding-bottom: 0" th:if="${discount.getType().equals('OBNIZKA')}">
                    <div class="col-lg-12" style="filter: grayscale(30%);font-weight: 900;color: #f70f55;font-size: 14px;">
                        <span style="font-weight: 600;font-size: 16px;font-family: Calibri;color: rgba(145,143,146,0.91);padding-right: 5px; text-decoration: line-through;" th:text="|${discount.getOld_price()}zł|">680zł</span>
                        <span style="font-weight: 900;font-size: 16px;font-family: Calibri;color: rgb(235 35 62);padding-right: 5px;"th:text="|${discount.getCurrent_price()}zł|">552,64zł</span>
                        <span style="font-weight: 900;font-size: 16px;font-family: Calibri;color: rgba(22, 21, 21, 0.91);padding-right: 5px "th:text="|-${discount.getDifference()}%|">-19%</span>
                    </div>
                </div>
                <div class="row item_parts_padding" style="padding-bottom: 0" th:if="${discount.getType().equals('KUPONNORMALNY')}">
                    <div class="col-lg-12" style="filter: grayscale(30%);font-weight: 900;color: #f70f55;font-size: 14px;">
                        KUPON: -<span style="font-weight: 900;font-size: 16px;font-family: Calibri;color: rgb(235 35 62);padding-right: 5px;"th:text="|${discount.getOld_price()}zł|">552,64zł</span>

                    </div>
                </div>
                <div class="row item_parts_padding" style="padding-bottom: 0" th:if="${discount.getType().equals('KUPONPROCENT')}">
                    <div class="col-lg-12" style="filter: grayscale(30%);font-weight: 900;color: #f70f55;font-size: 14px;">
                        KUPON: -<span style="font-weight: 900;font-size: 16px;font-family: Calibri;color: rgb(235 35 62);padding-right: 5px;"th:text="|${discount.getOld_price()}%|">552,64zł</span>
                    </div>
                </div>
                <div class="row item_parts_padding" style="padding-bottom: 0" th:if="${discount.getType().equals('KODNORMALNY')}">
                    <div class="col-lg-12" style="filter: grayscale(30%);font-weight: 900;color: #f70f55;font-size: 14px;">
                        KOD: -<span style="font-weight: 900;font-size: 16px;font-family: Calibri;color: rgb(235 35 62);padding-right: 5px;"th:text="|${discount.getOld_price()}zł|">552,64zł</span>

                    </div>
                </div>
                <div class="row item_parts_padding" style="padding-bottom: 0" th:if="${discount.getType().equals('KODPROCENT')}">
                    <div class="col-lg-12" style="filter: grayscale(30%);font-weight: 900;color: #f70f55;font-size: 14px;">
                        KOD: -<span style="font-weight: 900;font-size: 16px;font-family: Calibri;color: rgb(235 35 62);padding-right: 5px;"th:text="|${discount.getOld_price()}%|">552,64zł</span>

                    </div>
                </div>
                <!-- Date-->
                <div class="row item_parts_padding" style="padding-bottom: 0">
                    <div class="col-md-12">
                        <span class="item_date">Oferta wygasa: </span><span class="item_user"
                                                                            style="font-weight: 900; font-size: 15px; color: #1e7e34"
                                                                            th:text="${discount.getExpire_date_formated()}">25.06.20</span>
                    </div>

                </div>
                <!-- User-->
                <div class="row item_parts_padding" style="padding-bottom: 0">
                    <div class="col-md-12">
                        <span class="item_user">Dodane przez: </span><a href="/" th:href="@{|/profile/${discount.getUser().getLogin()}|}"><span class="item_user"
                                                                                                                                                style="font-weight: 900; font-size: 15px;color: black;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"
                                                                                                                                                th:text="${discount.getUser().getLogin()}">Rafineria</span></a>
                    </div>
                </div>
                <!-- Rate + Comments-->
                <div class="row item_parts_padding d-flex justify-content-around" style="padding-top: 10px">
                    <div class="">
                        <div class="row">
                            <form th:action="@{/addrate}" method="post">
                                <input class="fas fa-plus plus_minus" style="color: #f14648;font-size: 14px;"
                                       value="&#xf067;" type="submit"><input type="hidden" name="discountidadd"
                                                                             id="discountidadd"
                                                                             th:value="${discount.getDiscount_id()}">
                                <input type="hidden" name="redirect"
                                       id="redirect"
                                       value="">
                            </form>
                            <span
                                    style="color:red;font-size: 16px;font-weight: 900;white-space:pre"
                                    th:text="|${discount.getRatingsSize()}|">  255  </span>
                            <form th:action="@{/removerate}" method="post"><input
                                    class="fas fa-minus plus_minus" style="font-size: 14px;color: #9e9ea4"
                                    value="&#xf068;" type="submit"><input type="hidden" name="discountidremove"
                                                                          id="discountidremove"
                                                                          th:value="${discount.getDiscount_id()}">
                                <input type="hidden" name="redirect_remove"
                                       id="redirect_remove"
                                       value="">
                            </form>
                        </div>


                    </div>
                    <div class="">
                        <a th:href="@{|/discount/${discount.getDiscount_id()}|}" class="no_text_decoration"><span
                                class="fas fa-comments"
                                style="color: #9e9ea4;font-size: 14px;"></span><span
                                style="color: #9e9ea4;font-size: 16px;font-weight: 900;white-space:pre"
                                th:text="|   ${discount.getCommentsSize()}|">  255</span></a>
                    </div>
                </div>
                <!--Discount Button-->
                <div class="row item_parts_padding" style="padding-bottom: 15px">
                    <div class="col-lg-12">
                        <a th:href="@{|/discount/${discount.getDiscount_id()}|}">
                                                        <button type="button"  class="btn item_button" th:if="${discount.isOutDated()}" style="background: linear-gradient(45deg,lightblue,lightblue);">

                                                            Przejdz do promocji
                                                            <span class="fas fa-arrow-right"></span></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="page-wrap d-flex flex-row align-items-center" th:if="${list_of_discounts.isEmpty()}" style="padding-top: 35px">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <div class="mb-4 lead">
                        <span style="color: rgba(0,0,0,0.78);font-size: 30px;font-weight: 400;margin-top: -15px;">Przepraszamy, nie znaleźliśmy wyników <span th:if="${!list_of_discounts.isEmpty()}">dla<span
                                th:if="${additional_results_info_more!=null}" th:text="${additional_results_info_more}"></span> "<span
                                th:text="${additional_results_info}" style="color: #ed1d43;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -o-pre-wrap;
                             word-wrap: break-word;
">Adidas</span>"</span></span>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation example" style="padding-top: 50px">
        <ul class="pagination justify-content-center">


            <li th:if="${number_of_page == 1}" class="page-item disabled" style="padding-left: 5px">
                <a class="page-link" href="/page/1" tabindex="-1">Poprzednia</a>
            </li>
            <li th:if="${number_of_page != 1}" class="page-item" style="padding-left: 5px">

                <a class="page-link" th:href="@{|${next_and_previous.replaceFirst('id',number_of_page -1)}|}">Poprzednia</a>
            </li>

            <div th:each="i: ${#numbers.sequence(1, quantity_of_pages)}">
                <li th:if="${i==number_of_page}" class="page-item active" style="padding-left: 5px">
                    <a class="page-link" th:href="@{|${list_of_adresses.get(i - 1)}|}" th:text="${i}">1</a>
                </li>
                <li th:if="${i!=number_of_page}" class="page-item" style="padding-left: 5px">
                    <a class="page-link" th:href="@{${list_of_adresses.get(i - 1)}}" th:text="${i}">1</a>
                </li>
            </div>



            <li th:if="${number_of_page == quantity_of_pages}" class="page-item disabled" style="padding-left: 5px">
                <a class="page-link" href="/page/1" tabindex="-1">Następna</a>
            </li>
            <li th:if="${number_of_page != quantity_of_pages}" class="page-item" style="padding-left: 5px">

                <a class="page-link" th:href="@{${next_and_previous.replaceFirst('id',number_of_page+1)}}">Następna</a>
            </li>


        </ul>
    </nav>

</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script
        src="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/js/home.js"></script>
</body>
</html>