<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Norgie - Logowanie</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link type="text/css" href="/css/login.css" rel="stylesheet"/>

</head>
<body>

<nav class="navbar navbar-expand-xl navbar-light bg-light"
     style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);">
    <div class="navbar-brand" style="cursor: pointer;padding-left: 100px;" onclick="window.location='/';">
        <div class="row">
            <div class="col-4 dj text-center"><h1>NG</h1></div>
            <div class="col-6">NORGIE</div>
        </div>
    </div>
    <button class="navbar-toggler" id="navbar-toggler-button" type="button" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarTogglerDemo02" style="padding-left: 155px">
        <div class="nav navbar-nav d-flex justify-content-end" style="width: 90%;padding-bottom: 10px">
            <div class="nav_items d-flex align-items-center" style="padding-top: 10px;"
                 aria-controls="navbarToggleExternalContent"
            ><a href="/forum" class="nav_items_clickable" >Forum</a>
            </div>
            <div class="nav_items d-flex align-items-center" id="kategorie-button"
                 data-target="#kategorie" aria-controls="navbarToggleExternalContent"
                 aria-expanded="false" aria-label="Toggle navigation" style="padding-top: 10px"><a href="#" class="nav_items_clickable">Kategorie</a>
            </div>
            <div class="nav_items d-flex align-items-center" id="sklepy-button" style="padding-top: 10px;"
                 data-target="#sklepy" aria-controls="navbarToggleExternalContent"
                 aria-expanded="false" aria-label="Toggle navigation"><a href="#" class="nav_items_clickable" >Sklepy</a>
            </div>
            <div class="d-flex align-items-center" style="padding-right: 50px;padding-top: 10px" sec:authorize="!isAuthenticated()">
                <a href="/login">
                    <button type="button" style="" class="btn add_button"><span
                            class="fas fa-user"
                            style="font-size: 12px;padding-right: 3px;"></span>ZALOGUJ SIĘ
                    </button>
                </a>
            </div>
            <div class="d-flex align-items-center" style="padding-right: 50px;padding-top: 10px" sec:authorize="isAuthenticated()">
                <a href="/settings">
                    <button style="" class="btn add_button"
                            aria-haspopup="true" aria-expanded="false"
                    ><span class="fas fa-user" style="font-size: 12px;padding-right: 3px;"></span>TWOJE KONTO
                    </button>
                </a>
            </div>
            <div class="d-flex align-items-center" style="padding-top: 10px">
                <a href="/discount/add">
                    <button type="button"  class="btn add_button"><span
                            class="fas fa-plus"
                            style="font-size: 12px;padding-right: 3px;"></span>DODAJ OKAZJE
                    </button>
                </a>
            </div>
        </div>
    </div>
</nav>




<div class="container-fluid" style="padding-right: 0px;padding-left: 0px">

    <div class="row collapse" id="sklepy" style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);
         ;margin-top: 0px;margin-left: 0px">
        <div class="col-lg-10 offset-lg-1" style="padding-bottom: 40px;padding-top: 30px;margin-top: -20px;">
            <div class="row" style="padding-left: 20px;padding-right: 20px">
                <div class="col-xl-2" th:each="shop : ${list_of_shops}"
                     style="padding-bottom: 5px;padding-left: 5px;padding-right: 5px">
                    <a th:href="|/shops/${shop.getName().toLowerCase()}|" href="/shops/biedronka">
                        <button type="button" style="width: 100%;padding-left: 3px;padding-right: 3px" class="btn category_button"
                                th:text="${shop.getName()}">DODAJ KUPON
                        </button>
                    </a>
                </div>


            </div>
        </div>

    </div>

    <div class="row collapse" id="kategorie" style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);margin-top: 0px;margin-left: 0px">
        <div class="col-lg-10 offset-lg-1" style="padding-bottom: 40px;padding-top: 30px;margin-top: -20px;">
            <div class="row" style="padding-left: 20px;padding-right: 20px">
                <div class="col-xl-2" th:each="tag : ${list_of_tags}"
                     style="padding-bottom: 5px;padding-left: 5px;padding-right: 5px">
                    <a th:href="|/categories/${tag.getName().toLowerCase()}|" href="/shops/biedronka">
                        <button type="button" style="width: 100%;padding-left: 3px;padding-right: 3px" class="btn category_button"
                                th:text="${tag.getName()}">DODAJ KUPON
                        </button>
                    </a>
                </div>


            </div>
        </div>

    </div>


</div>


<div class="container-fluid">
    <div class="col-md-6 offset-md-3" style="border-bottom: 1px solid rgba(82,73,98,.2); padding-top: 25px">
        <span class="over_items">Zaloguj sie!</span>
    </div>
    <div style="height: 15px"></div>
</div>

<div class="row" th:if="${param.error}">
    <div class="container" style="padding-bottom: 15px">
        <div class="col-lg-6 offset-lg-3" style="padding-left: 15px;padding-right: 15px">
            <div class="bad_alert" style="margin-left: 45px;margin-right: 45px">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>Błędna nazwa użytkownika lub hasło.</strong>
            </div>
        </div>
    </div>
</div>

<div class="row" th:if="${param.logout}">
    <div class="container" style="padding-bottom: 15px">
        <div class="col-lg-6 offset-lg-3" style="padding-left: 15px;padding-right: 15px">
            <div class="alert" style="margin-left: 45px;margin-right: 45px">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>Zostałeś pomyślnie wylogowany.</strong>
            </div>
        </div>
    </div>
</div>

<div class="row" th:if="${param.ban}">
    <div class="container" style="padding-bottom: 15px">
        <div class="col-lg-6 offset-lg-3" style="padding-left: 15px;padding-right: 15px">
            <div class="bad_alert" style="margin-left: 45px;margin-right: 45px">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>To konto jest zablokowane. Sprawdź swojego maila.</strong>
            </div>
        </div>
    </div>
</div>

<div class="row" th:if="${param.token}">
    <div class="container" style="padding-bottom: 15px">
        <div class="col-lg-6 offset-lg-3" style="padding-left: 15px;padding-right: 15px">
            <div class="bad_alert" style="margin-left: 45px;margin-right: 45px">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>To konto nie jest jeszcze zweryfikowane. Sprawdź swojego maila.</strong>
            </div>
        </div>
    </div>
</div>

<div class="row" th:if="${param.session}">
    <div class="container" style="padding-bottom: 15px">
        <div class="col-lg-6 offset-lg-3" style="padding-left: 15px;padding-right: 15px">
            <div class="bad_alert" style="margin-left: 45px;margin-right: 45px">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>Twoja sesja wygasła. Zaloguj się ponownie.</strong>
            </div>
        </div>
    </div>
</div>

<div class="row" th:if="${good_status}!=null">
    <div class="container" style="padding-bottom: 15px">
        <div class="col-lg-6 offset-lg-3" style="padding-left: 15px;padding-right: 15px">
            <div class="alert" style="margin-left: 45px;margin-right: 45px">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong th:text="${good_status.toString()}"></strong>
            </div>
        </div>
    </div>
</div>

<div class="row" th:if="${bad_status}!=null">
    <div class="container" style="padding-bottom: 15px">
        <div class="col-lg-6 offset-lg-3" style="padding-left: 15px;padding-right: 15px">
            <div class="bad_alert" style="margin-left: 45px;margin-right: 45px">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong th:text="${bad_status.toString()}"></strong>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid ">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header text-center">
                        <h3 >LOGOWANIE</h3>
                    </div>
                    <div class="card-body">
                        <form  action="/login" method="post">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" id="login" name="login" placeholder="nazwa uzytkownika">

                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" id="password" name="password" placeholder="haslo">
                            </div>

                            <div class="form-group input-group input-group-prepend" style="padding-top:25px;">
                                <input type="submit" value="Zaloguj" class="btn form-control login_btn">
                            </div>
                        </form>


                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            Nie masz jeszcze swojego konta?
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="/register" style="font-weight: 900;color: #005aff94">Zarejestruj sie!</a>
                        </div>
                    </div>
                </div>
            </div>

</div>







<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script
        src="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    document.getElementById ("kategorie-button").addEventListener ("click", collapseSklepy, false);
    document.getElementById ("sklepy-button").addEventListener ("click", collapseKategorie, false);
    document.getElementById ("navbar-toggler-button").addEventListener ("click", collapseNavbar, false);


    async function collapseKategorie() {
        $('#kategorie').collapse('hide');
        $('#navbarTogglerDemo02').collapse('hide');
        await sleep(350);
        $('#sklepy').collapse('toggle');
    }
    async function collapseSklepy() {
        $('#sklepy').collapse('hide');
        $('#navbarTogglerDemo02').collapse('hide');
        await sleep(350);
        $('#kategorie').collapse('toggle');

    }
    async function collapseNavbar() {
        $('#sklepy').collapse('hide');
        $('#kategorie').collapse('hide');
        await sleep(350);
        $('#navbarTogglerDemo02').collapse('toggle');
    }
</script>
</body>
</html>