<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Norgie - Profil</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link type="text/css" href="/css/profile.css" rel="stylesheet"/>
</head>
<body>


<nav class="navbar navbar-expand-xl navbar-light bg-light"
     style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);">
    <div class="navbar-brand" style="cursor: pointer;padding-left: 100px;" onclick="window.location='/';">
        <div class="row">
            <div class="col-4 dj text-center"><h1>NG</h1></div>
            <div class="col-6">NORGIE</div>
        </div>
    </div>
    <button class="navbar-toggler" id="navbar-toggler-button" type="button" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarTogglerDemo02" style="padding-left: 155px">
        <div class="nav navbar-nav d-flex justify-content-end" style="width: 90%;padding-bottom: 10px">
            <div class="nav_items d-flex align-items-center" style="padding-top: 10px;"
                 aria-controls="navbarToggleExternalContent"
            ><a href="/forum" class="nav_items_clickable" >Forum</a>
            </div>
            <div class="nav_items d-flex align-items-center" id="kategorie-button"
                 data-target="#kategorie" aria-controls="navbarToggleExternalContent"
                 aria-expanded="false" aria-label="Toggle navigation" style="padding-top: 10px"><a href="#" class="nav_items_clickable">Kategorie</a>
            </div>
            <div class="nav_items d-flex align-items-center" id="sklepy-button" style="padding-top: 10px;"
                 data-target="#sklepy" aria-controls="navbarToggleExternalContent"
                 aria-expanded="false" aria-label="Toggle navigation"><a href="#" class="nav_items_clickable" >Sklepy</a>
            </div>
            <div class="d-flex align-items-center" style="padding-right: 50px;padding-top: 10px" sec:authorize="!isAuthenticated()">
                <a href="/login">
                    <button type="button" style="" class="btn add_button"><span
                            class="fas fa-user"
                            style="font-size: 12px;padding-right: 3px;"></span>ZALOGUJ SIĘ
                    </button>
                </a>
            </div>
            <div class="d-flex align-items-center" style="padding-right: 50px;padding-top: 10px" sec:authorize="isAuthenticated()">
                <a href="/settings">
                    <button style="" class="btn add_button"
                            aria-haspopup="true" aria-expanded="false"
                    ><span class="fas fa-user" style="font-size: 12px;padding-right: 3px;"></span>TWOJE KONTO
                    </button>
                </a>
            </div>
            <div class="d-flex align-items-center" style="padding-top: 10px">
                <a href="/add/discount">
                    <button type="button"  class="btn add_button"><span
                            class="fas fa-plus"
                            style="font-size: 12px;padding-right: 3px;"></span>DODAJ OKAZJE
                    </button>
                </a>
            </div>
        </div>
    </div>
</nav>




<div class="container-fluid" style="padding-right: 0px;padding-left: 0px">

    <div class="row collapse" id="sklepy" style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);
         ;margin-top: 0px;margin-left: 0px">
        <div class="col-lg-10 offset-lg-1" style="padding-bottom: 40px;padding-top: 30px;margin-top: -20px;">
            <div class="row" style="padding-left: 20px;padding-right: 20px">
                <div class="col-xl-2" th:each="shop : ${list_of_shops}"
                     style="padding-bottom: 5px;padding-left: 5px;padding-right: 5px">
                    <a th:href="|/shops/${shop.getName().toLowerCase()}|" href="/shops/biedronka">
                        <button type="button" style="width: 100%;padding-left: 3px;padding-right: 3px" class="btn category_button"
                                th:text="${shop.getName()}">DODAJ KUPON
                        </button>
                    </a>
                </div>


            </div>
        </div>

    </div>

    <div class="row collapse" id="kategorie" style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);margin-top: 0px;margin-left: 0px">
        <div class="col-lg-10 offset-lg-1" style="padding-bottom: 40px;padding-top: 30px;margin-top: -20px;">
            <div class="row" style="padding-left: 20px;padding-right: 20px">
                <div class="col-xl-2" th:each="tag : ${list_of_tags}"
                     style="padding-bottom: 5px;padding-left: 5px;padding-right: 5px">
                    <a th:href="|/categories/${tag.getName().toLowerCase()}|" href="/shops/biedronka">
                        <button type="button" style="width: 100%;padding-left: 3px;padding-right: 3px" class="btn category_button"
                                th:text="${tag.getName()}">DODAJ KUPON
                        </button>
                    </a>
                </div>


            </div>
        </div>

    </div>


</div>




<div class="container-fluid">
    <div class="col-xl-6 offset-xl-3" style="border-bottom: 1px solid rgba(82,73,98,.2); padding-top: 25px">
        <div class="row" th:if="${!user.isAccountNonLocked()}">
                    <div class="col-md-12" style="padding-left: 0;padding-right: 0;padding-bottom: 20px;">
                        <div class="bad_alert">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <strong>Ten użytkownik został zbanowany przez Moderatora.</strong>
                        </div>
                    </div>
        </div>
        <div class="row">
            <div class="col-xl-12 d-flex justify-content-between" style="padding-left: 0px">
                <span class="over_items">Profil użytkownika <span style="color: #ed1d43;padding-left: 5px" th:text="${user.getLogin()}">rafineria123</span></span>
                <button type="submit" class="remove_button"  sec:authorize="hasAuthority('ADMIN')" data-toggle="modal" data-target="#ban" style="">  <span class="over_items fas fa-ban" style="padding-bottom: 5px"></span> </button>
            </div>
        </div>
    </div>
    <div style="height: 20px"></div>
</div>

<div class="container-fluid " style="max-width: 95%">
    <div class="row">

        <div class="col-xl-6 offset-xl-3">

            <div class="row">

                <span class="sort_div">
                    <div class="row">
                        <div class="col-2 d-flex justify-content-end" style="padding-right: 0px">
                            <img src="/images/user.png" class="user_image align-self-center"><img>
                        </div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-8" style="padding-left: 15px;font-size:23px;font-weight: 600">
                                    <span th:if="${user.hasName()}" th:text="${user.getInformation().getName()}"></span>
                                    <span th:if="${user.hasSurname()}" th:text="${user.getInformation().getSurname()}"></span>
                                    <span th:if="${user.hasName()||user.hasSurname()}"> aka </span>
                                    <span th:text="${user.getLogin()}">rafineria123</span>
                                </div>
                                <div class="d-flex justify-content-end" style="padding-left: 0px;width: 30%" sec:authorize="isAuthenticated()">
                                    <button type="button" style="" data-toggle="modal" data-target="#dane" class="btn new_msg"><span class="far fa-envelope" style="font-size: 15px;font-weight: 600;padding-right: 0px;"></span></button>
                                </div>

                            </div>
                            <div class="row d-flex justify-content-start" style="padding-left: 15px">
                                <div class="comm_disc_date">Okazje:<span class="comm_disc_date_number" th:text="${user.getDiscountsAmount()}">15</span></div>
                                <div class="comm_disc_date" style="padding-left: 10px">Komentarze:<span class="comm_disc_date_number" th:text="${user.getCommentsAmount()}">300</span></div>
                            </div>
                            <div class="row d-flex justify-content-start" style="padding-left: 15px">
                                <div class="comm_disc_date">Dołaczyl:<span class="comm_disc_date_number" th:text="${user.getCr_date_formated()}">24.05.2020</span></div>

                            </div>

                        </div>
                    </div>
                    <div class="row" th:if="${user.getInformation()!=null&&user.getInformation().getDescription()!=null&&!user.getInformation().getDescription().equals('')}">
<!--                        <span style="width: 100%" th:if="${user.getInformation().getDescription()!=null}">-->
<!--                            <span style="width: 100%" th:if="${!user.getInformation().getDescription().equals('')}">-->

                                <div class="col-8 offset-2 comm_disc_date" style="padding-left: 15px;padding-top: 10px">

                                    O mnie: <span th:text="${user.getInformation().getDescription()}"></span>
                                </div>
<!--                            </span>-->
<!--                        </span>-->

                    </div>

                </span>
            </div>

            <div class="row" style="padding-top: 40px;padding-bottom: 20px">

                <div class="col-6">

                    <a th:href="@{|/profile/${user.getLogin()}|}" th:if="${comments_page}"> <button type="button" style="width: 100%;background-color: #bababa99;"  class="btn new_msg"> Okazje dodane przez użytkownika</button></a>
                    <a th:href="@{|/profile/${user.getLogin()}|}" th:if="${!comments_page}"> <button type="button" style="width: 100%" class="btn new_msg"> Okazje dodane przez użytkownika</button></a>

                </div>

                <div class="col-6">

                    <a th:href="@{|/profile/${user.getLogin()}/comments|}" th:if="${comments_page}"><button type="button" style="width: 100%"  class="btn new_msg">Komentarze dodane przez użytkownika</button></a>
                    <a th:href="@{|/profile/${user.getLogin()}/comments|}" th:if="${!comments_page}"><button type="button" style="background-color: #bababa99;width: 100%"  class="btn new_msg">Komentarze dodane przez użytkownika</button></a>

                </div>

            </div>


            <div class="page-wrap d-flex flex-row align-items-center" th:if="${!comments_page&&user.getDiscounts().isEmpty()}" style="padding-top: 35px">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 text-center">
                            <div class="mb-4 lead">
                                <span style="color: rgba(0,0,0,0.78);font-size: 30px;font-weight: 400;margin-top: -15px;">Ten użytkownik nie dodał żadnych okazji! :(</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="page-wrap d-flex flex-row align-items-center" th:if="${comments_page&&user.getComments().isEmpty()}" style="padding-top: 35px">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 text-center">
                            <div class="mb-4 lead">
                                <span style="color: rgba(0,0,0,0.78);font-size: 30px;font-weight: 400;margin-top: -15px;">Ten użytkownik nie napisał żadnych komentarzy! :(</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
                <div style="width: 100%;padding-left: 15px;padding-right: 15px;padding-bottom: 10px" th:each="discount:${user.getDiscounts()}"  th:if="${!comments_page&&!discount.deletedOrNotReady()}">
                    <div class="row" style="padding-top:10px"></div>

                    <a href="" th:href="@{|/discount/${discount.getDiscount_id()}|}" style="width: 100%">
                    <div class="row pink_shadow" style="box-shadow: 0px 2px 6px 1px rgb(173, 173, 173);border-radius: 15px;border: 1px solid transparent;-webkit-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;">

                            <div class="d-flex justify-content-start align-items-start flex-column" style="width:35%;padding-left:20px;border-radius: 15px 0px 0px 15px;background-color: #e5e5e6;padding-top: 25px;padding-bottom: 25px">

                                <div class="" style="width: fit-content">
                                    <span style="font-weight: 600;font-size: 14px">Typ: <span style="font-weight: 600;font-size: 14px" th:text="${discount.getTypeFormatted()}" >Zatwierdzone</span></span>
                                </div>
                                <div class="d-flex justify-content-between" style="width: 30%">
                                    <span class="fas fa-comments" style="font-size: 15px;padding-top: 3px"></span><span style="font-weight: 400;font-size: 15px;padding-left: 5px" th:text="${discount.getCommentsSize()}">5</span>
                                    <span class="fas fa-plus" style="font-size: 15px;padding-top: 3px;padding-left: 10px"></span><span style="font-weight: 400;font-size: 15px;padding-left: 5px" th:text="${discount.getRatingsSize()}">25</span>

                                </div>
                                <div class="" style="width: fit-content">
                                    <span style="font-weight: 400;font-size: 13px;">Wygasa:</span><span style="font-weight: 400;font-size: 14px;" th:text="${discount.getExpire_date_formatted()}"> 29.10.2020</span>
                                </div>
                                <div class="" style="width: fit-content">
                                    <span style="font-weight: 400;font-size: 13px;">Dodane:</span><span style="font-weight: 400;font-size: 14px;" th:text="${discount.getCreation_date_formated()}"> 29.10.2020</span>
                                </div>

                            </div>
                            <div class="" style="width: 65%;padding-left: 20px">
                                <div class="row" style="height: 100%">

                                    <div class="d-flex justify-content-center align-self-center" style="width:30%;height: 66px;padding-left: 10px">

                                        <img th:src="${discount.getImage_url()}" onerror="this.src='/images/default_discount_image.png'" class="item_image_discount">
                                    </div>

                                    <div class="align-self-center" style="width: 60%">

                                        <span style="font-weight: 400;font-size: 16px;color: rgba(0,0,0,0.71)" th:text="${discount.getTitle()}">Płyn do chłodnic samochodowych</span>

                                    </div>

                                </div>
                        </div>

                    </div>
                    </a>

                </div>


            <div class="mix w-100" th:if="${comments_page}" th:each="comment : ${user.getComments()}">
                <div class="col-12" style="height: 15px;"></div>

                <a href="" class="sort_div_comm" th:href="@{|/discount/${comment.getDiscount().getDiscount_id()}|}" th:if="${comment.getDiscount()!=null}">
                    <div class="sort_div_comm pink_shadow" style="box-shadow: 0px 5px 7px 0px rgba(220,220,220,1);width: 100%;padding-top: 15px;padding-bottom: 15px;
                    border: 1px solid transparent;-webkit-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;">
                    <div class="row">


                        <div class="col-md-12">
                            <div class="row d-flex justify-content-center">
                                <div class="d-flex justify-content-center" style="width: 90%">
                                    <div class="d-flex justify-content-start"
                                         style="width: 80%">
                                        <div style="width: fit-content;border-bottom: 1px solid rgba(82,73,98,.2)">
                                             <span style="font-size:14px;font-weight:900;color:#e42d31; padding-right: 5px"th:text="${comment.getUser().getLogin()}">Rafineria</span>
                                            <span style="font-size:12px;font-weight: 900;color: rgba(145,143,146,0.91);" th:text="|${comment.getDateDifference()} dni temu|">2 dni temu</span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end align-self-center align-items-center" style="width: 20%">
                                <span class="fas fa-thumbs-up"
                                      style="font-size:13px;font-weight: 900;color: rgba(145,143,146,0.91);padding-right: 4px"></span><span
                                            style="font-size:14px;font-weight: 900;color: rgba(145,143,146,0.91);"th:text="${comment.getRatingsSize()}">23</span>
                                    </div>
                                    <div class="d-flex justify-content-end align-items-end" style="width: 10%" sec:authorize="hasAuthority('ADMIN')">
                                        <form th:action="@{/removecomment}" method="post">
                                            <input type="hidden" id="comment_id" name="comment_id" th:value="${comment.getComment_id()}">
                                            <button type="submit" class="remove_button" style=""> <span class="over_items fas fa-times" style=""></span> </button>
                                        </form>

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12" style="padding-top: 7px;padding-bottom: 10px">
                            <div class="row d-flex justify-content-center">
                                <div class="d-flex justify-content-center" style="width: 90%">
                                    <div class="d-flex justify-content-start" style="width:100%;max-width:100%;font-size: 14px;font-weight: 500;display: inline-block;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -o-pre-wrap;
                                 word-wrap: break-word;">
                                    <span th:text="${comment.getContent()}" style="max-width: 100%;white-space: pre-wrap;white-space: -moz-pre-wrap;display: inline-block;white-space: -o-pre-wrap;
                             word-wrap: break-word;">
                                    Ostatnio wyszedł ich test na rtings i jeśli idzie o dźwięk, to ocena (neutral sound)
                                    wypadła im jedna z najlepszych
                                    w historii portalu, za Sennheiserami (6300 zł) i HiFiManami x3 (1500 zł / 3800 zł / 5000
                                    zł). 5. miejsce na 416 przetestowanych słuchawek.
                                    Ostatnio wyszedł ich test na rtings i jeśli idzie o dźwięk, to ocena (neutral sound)
                                    wypadła im jedna z najlepszych w historii portalu, za Sennheiserami (6300 zł)
                                    i HiFiManami x3 (1500 zł / 3800 zł / 5000 zł). 5. miejsce na 416 przetestowanych
                                    słuchawek.
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </a>

                <a href="" class="sort_div_comm" th:href="@{|/post/${comment.getPost().getPost_id()}|}" th:if="${comment.getPost()!=null}">
                    <div class="sort_div_comm pink_shadow" style="box-shadow: 0px 5px 7px 0px rgba(220,220,220,1);width: 100%;padding-top: 15px;padding-bottom: 15px;
                    border: 1px solid transparent;-webkit-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;">
                        <div class="row">


                            <div class="col-md-12">
                                <div class="row d-flex justify-content-center">
                                    <div class="d-flex justify-content-center" style="width: 90%">
                                        <div class="d-flex justify-content-start"
                                             style="width: 80%">
                                            <div style="width: fit-content;border-bottom: 1px solid rgba(82,73,98,.2)">
                                                <span style="font-size:14px;font-weight:900;color:#e42d31; padding-right: 5px"th:text="${comment.getUser().getLogin()}">Rafineria</span>
                                                <span style="font-size:12px;font-weight: 900;color: rgba(145,143,146,0.91);" th:text="|${comment.getDateDifference()} dni temu|">2 dni temu</span>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end align-self-center align-items-center" style="width: 20%">
                                <span class="fas fa-thumbs-up"
                                      style="font-size:13px;font-weight: 900;color: rgba(145,143,146,0.91);padding-right: 4px"></span><span
                                                style="font-size:14px;font-weight: 900;color: rgba(145,143,146,0.91);"th:text="${comment.getRatingsSize()}">23</span>
                                        </div>
                                        <div class="d-flex justify-content-end align-items-end" style="width: 10%" sec:authorize="hasAuthority('ADMIN')">
                                            <form th:action="@{/removecomment}" method="post">
                                                <input type="hidden" id="comment_id" name="comment_id" th:value="${comment.getComment_id()}">
                                                <button type="submit" class="remove_button" style=""> <span class="over_items fas fa-times" style=""></span> </button>
                                            </form>

                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12" style="padding-top: 7px;padding-bottom: 10px">
                                <div class="row d-flex justify-content-center">
                                    <div class="d-flex justify-content-center" style="width: 90%">
                                        <div class="d-flex justify-content-start" style="width:100%;max-width:100%;font-size: 14px;font-weight: 500;display: inline-block;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -o-pre-wrap;
                                 word-wrap: break-word;">
                                    <span th:text="${comment.getContent()}" style="max-width: 100%;white-space: pre-wrap;white-space: -moz-pre-wrap;display: inline-block;white-space: -o-pre-wrap;
                             word-wrap: break-word;">
                                    Ostatnio wyszedł ich test na rtings i jeśli idzie o dźwięk, to ocena (neutral sound)
                                    wypadła im jedna z najlepszych
                                    w historii portalu, za Sennheiserami (6300 zł) i HiFiManami x3 (1500 zł / 3800 zł / 5000
                                    zł). 5. miejsce na 416 przetestowanych słuchawek.
                                    Ostatnio wyszedł ich test na rtings i jeśli idzie o dźwięk, to ocena (neutral sound)
                                    wypadła im jedna z najlepszych w historii portalu, za Sennheiserami (6300 zł)
                                    i HiFiManami x3 (1500 zł / 3800 zł / 5000 zł). 5. miejsce na 416 przetestowanych
                                    słuchawek.
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>

        </div>

    </div>
</div>



<div class="modal fade" id="dane" tabindex="-1" role="dialog" aria-labelledby="daneTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form th:action="@{/settings/messages}" method="post"class="modal-content">
            <div class="modal-content">
                <div class="modal-header" style="background-color: rgba(82, 73, 98, 0.06);">
                    <h5 class="modal-title" id="daneLongTitle" style="padding-left: 15px">Wiadomość do <span style="color: #ed1d43;;font-size: 23px;font-weight: 700" th:text="${user.getLogin()}"></span> </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">

                        <div class="row" style="padding-left: 36px">
                            <div class="" style="width:auto;margin-bottom: -12px;z-index: 2;background-color: white;color: rgba(82,73,98,0.6)">Treść</div>

                        </div>
                        <div class="row">
                            <div class="col-12" style="width:100%">
                            <textarea rows="4" COLS="72" id="message" maxlength="400" name="message" WRAP="description" placeholder="Treść wiadomości" style="border: 1px solid rgba(82,73,98,0.2);
                            padding-left: 20px;padding-top:13px;padding-bottom:13px;border-radius: 10px;width:100%"></textarea>
                                <input type="hidden" id="login" name="login"  value="" th:value="${user.getLogin()}">

                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" style="width: 100%;border-radius: 20px">Napisz</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="ban" tabindex="-1" role="dialog" aria-labelledby="banTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form th:action="@{/banuser}" method="post"class="modal-content">
            <div class="modal-content">
                <div class="modal-header" style="background-color: rgba(82, 73, 98, 0.06);">
                    <h5 class="modal-title" id="banLongTitle" style="padding-left: 15px">Zbanuj użytkownika <span th:text="${user.getLogin()}"></span> </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row" style="padding-left: 36px">
                            <div class="" style="width:auto;margin-bottom: -12px;z-index: 2;background-color: white;color: rgba(82,73,98,0.6)">Powód</div>
                        </div>
                        <div class="row">
                            <div class="col-12" style="width:100%">
                                <input type="hidden" id="user_id" name="user_id" th:value="${user.getUser_id()}">
                            <textarea rows="4" COLS="72" id="reason" maxlength="400" name="reason" WRAP="reason" placeholder="Powód banicji" style="border: 1px solid rgba(82,73,98,0.2);
                            padding-left: 20px;padding-top:13px;padding-bottom:13px;border-radius: 10px;width:100%"></textarea>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" style="width: 100%;border-radius: 20px">Zbanuj</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script
        src="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    document.getElementById ("kategorie-button").addEventListener ("click", collapseSklepy, false);
    document.getElementById ("sklepy-button").addEventListener ("click", collapseKategorie, false);
    document.getElementById ("navbar-toggler-button").addEventListener ("click", collapseNavbar, false);


    async function collapseKategorie() {
        $('#kategorie').collapse('hide');
        $('#navbarTogglerDemo02').collapse('hide');
        await sleep(350);
        $('#sklepy').collapse('toggle');
    }
    async function collapseSklepy() {
        $('#sklepy').collapse('hide');
        $('#navbarTogglerDemo02').collapse('hide');
        await sleep(350);
        $('#kategorie').collapse('toggle');

    }
    async function collapseNavbar() {
        $('#sklepy').collapse('hide');
        $('#kategorie').collapse('hide');
        await sleep(350);
        $('#navbarTogglerDemo02').collapse('toggle');
    }
</script>
</body>
</html>