<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Norgie - Rejstracja</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link type="text/css" href="/css/register.css" rel="stylesheet"/>

</head>
<body>

<nav class="navbar navbar-expand-xl navbar-light bg-light"
     style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);">
    <div class="navbar-brand" style="cursor: pointer;padding-left: 100px;" onclick="window.location='/';">
        <div class="row">
            <div class="col-4 dj text-center"><h1>NG</h1></div>
            <div class="col-6">NORGIE</div>
        </div>
    </div>
    <button class="navbar-toggler" id="navbar-toggler-button" type="button" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarTogglerDemo02" style="padding-left: 155px">
        <div class="nav navbar-nav d-flex justify-content-end" style="width: 90%;padding-bottom: 10px">
            <div class="nav_items d-flex align-items-center" style="padding-top: 10px;"
                 aria-controls="navbarToggleExternalContent"
            ><a href="/forum" class="nav_items_clickable" >Forum</a>
            </div>
            <div class="nav_items d-flex align-items-center" id="kategorie-button"
                 data-target="#kategorie" aria-controls="navbarToggleExternalContent"
                 aria-expanded="false" aria-label="Toggle navigation" style="padding-top: 10px"><a href="#" class="nav_items_clickable">Kategorie</a>
            </div>
            <div class="nav_items d-flex align-items-center" id="sklepy-button" style="padding-top: 10px;"
                 data-target="#sklepy" aria-controls="navbarToggleExternalContent"
                 aria-expanded="false" aria-label="Toggle navigation"><a href="#" class="nav_items_clickable" >Sklepy</a>
            </div>
            <div class="d-flex align-items-center" style="padding-right: 50px;padding-top: 10px" sec:authorize="!isAuthenticated()">
                <a href="/login">
                    <button type="button" style="" class="btn add_button"><span
                            class="fas fa-user"
                            style="font-size: 12px;padding-right: 3px;"></span>ZALOGUJ SIĘ
                    </button>
                </a>
            </div>
            <div class="d-flex align-items-center" style="padding-right: 50px;padding-top: 10px" sec:authorize="isAuthenticated()">
                <a href="/settings">
                    <button style="" class="btn add_button"
                            aria-haspopup="true" aria-expanded="false"
                    ><span class="fas fa-user" style="font-size: 12px;padding-right: 3px;"></span>TWOJE KONTO
                    </button>
                </a>
            </div>
            <div class="d-flex align-items-center" style="padding-top: 10px">
                <a href="/add/discount">
                    <button type="button"  class="btn add_button"><span
                            class="fas fa-plus"
                            style="font-size: 12px;padding-right: 3px;"></span>DODAJ OKAZJE
                    </button>
                </a>
            </div>
        </div>
    </div>
</nav>




<div class="container-fluid" style="padding-right: 0px;padding-left: 0px">

    <div class="row collapse" id="sklepy" style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);
         ;margin-top: 0px;margin-left: 0px">
        <div class="col-lg-10 offset-lg-1" style="padding-bottom: 40px;padding-top: 30px;margin-top: -20px;">
            <div class="row" style="padding-left: 20px;padding-right: 20px">
                <div class="col-xl-2" th:each="shop : ${list_of_shops}"
                     style="padding-bottom: 5px;padding-left: 5px;padding-right: 5px">
                    <a th:href="|/shops/${shop.getName().toLowerCase()}|" href="/shops/biedronka">
                        <button type="button" style="width: 100%;padding-left: 3px;padding-right: 3px" class="btn category_button"
                                th:text="${shop.getName()}">DODAJ KUPON
                        </button>
                    </a>
                </div>


            </div>
        </div>

    </div>

    <div class="row collapse" id="kategorie" style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);margin-top: 0px;margin-left: 0px">
        <div class="col-lg-10 offset-lg-1" style="padding-bottom: 40px;padding-top: 30px;margin-top: -20px;">
            <div class="row" style="padding-left: 20px;padding-right: 20px">
                <div class="col-xl-2" th:each="tag : ${list_of_tags}"
                     style="padding-bottom: 5px;padding-left: 5px;padding-right: 5px">
                    <a th:href="|/categories/${tag.getName().toLowerCase()}|" href="/shops/biedronka">
                        <button type="button" style="width: 100%;padding-left: 3px;padding-right: 3px" class="btn category_button"
                                th:text="${tag.getName()}">DODAJ KUPON
                        </button>
                    </a>
                </div>


            </div>
        </div>

    </div>


</div>

<div class="container-fluid">
    <div class="col-md-6 offset-md-3" style="border-bottom: 1px solid rgba(82,73,98,.2); padding-top: 25px">
        <span class="over_items">Zarejestruj sie!</span>
    </div>
    <div style="height: 15px"></div>
</div>

<div class="container-fluid ">
    <div class="row">
        <form th:action="@{/register}" class="w-100" method="post">
        <div class="col-xl-4 offset-xl-4">

            <div class="row" th:if="${good_status}!=null">
                <div class="container-fluid" style="padding-right: 0;padding-left: 0;padding-bottom: 15px">
                    <div class="col-8 offset-2" style="padding-left: 0px;padding-right: 0px">
                        <div class="alert">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <strong th:text="${good_status.toString()}"></strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" th:if="${bad_status}!=null">
                <div class="container-fluid" style="padding-right: 0;padding-left: 0;">
                    <div class="col-8 offset-2" style="padding-left: 0px;padding-right: 0px;padding-bottom: 15px">
                        <div class="bad_alert">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <strong th:text="${bad_status.toString()}"></strong>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-10 offset-md-1 sort_div" style="box-shadow: 0px 5px 7px 0px rgba(220,220,220,1);">
                    <div class="row" style="font-weight: bolder;color: #524962;font-size: 22px;padding-left: 35px;padding-top: 10px;padding-bottom: 15px">

                        Stwórz konto

                    </div>
                    <div class="row" style="font-weight: bold;color: #524962;font-size: 17px;padding-left: 35px;padding-bottom: 5px">

                        Dane konta

                    </div>
                    <div class="row" style="padding-left: 36px">
                        <div class="" style="width:auto;margin-bottom: -12px;z-index: 2;background-color: #f4f4f5;color: rgba(82,73,98,0.6)">Login</div>

                    </div>
                    <div class="row">
                        <div class="col-12" style="width:100%">
                            <input type="text" class="add_input" id="login" minlength="5" maxlength="25" value="" name="login" placeholder="Login (wymagane)" style="border: 1px solid rgba(82,73,98,0.2);
                                    padding-left: 20px;padding-top:13px;padding-bottom:13px;border-radius: 10px;width:100%">
                        </div>
                    </div>

                    <div class="row" style="padding-left: 36px">
                        <div class="" style="width:auto;margin-bottom: -12px;z-index: 2;background-color: #f4f4f5;color: rgba(82,73,98,0.6)">Hasło</div>

                    </div>
                    <div class="row">
                        <div class="col-12" style="width:100%">
                            <input type="password" class="add_input" id="password" name="password" minlength="5" maxlength="25" value="" placeholder="Hasło (wymagane)" style="border: 1px solid rgba(82,73,98,0.2);
                                    padding-left: 20px;padding-top:13px;padding-bottom:13px;border-radius: 10px;width:100%">
                        </div>
                    </div>

                    <div class="row" style="padding-left: 36px">
                        <div class="" style="width:auto;margin-bottom: -12px;z-index: 2;background-color: #f4f4f5;color: rgba(82,73,98,0.6)">Powtórz Hasło</div>

                    </div>
                    <div class="row">
                        <div class="col-12" style="width:100%">
                            <input type="password" class="add_input" id="repeated_password" name="repeated_password" placeholder="Powtórz hasło (wymagane)" style="border: 1px solid rgba(82,73,98,0.2);
                                    padding-left: 20px;padding-top:13px;padding-bottom:13px;border-radius: 10px;width:100%">
                        </div>
                    </div>

                    <div class="row" style="padding-left: 36px">
                        <div class="" style="width:auto;margin-bottom: -12px;z-index: 2;background-color: #f4f4f5;color: rgba(82,73,98,0.6)">Email</div>

                    </div>
                    <div class="row">
                        <div class="col-12" style="width:100%">
                            <input type="text" class="add_input" id="email" name="email" placeholder="Email (wymagane)" minlength="5" maxlength="50"value="" style="border: 1px solid rgba(82,73,98,0.2);
                                    padding-left: 20px;padding-top:13px;padding-bottom:13px;border-radius: 10px;width:100%">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12" style="padding-top:15px;padding-left: 35px">

                            <input type="checkbox" id="reg" name="reg" style="transform: scale(1.5)">
                            <label for="reg" style="padding-left: 5px;font-size: 18px">Akceptuje <a href="/">regulamin</a> sklepu.</label>
                        </div>

                    </div>




                    <div class="row">

                        <div class="col-md-12" style="padding-top: 15px;">
                            <button type="submit" style="white-space:pre;font-size: 18px;border-radius: 10px" class="btn item_button">Stworz konto</button>
                        </div>

                    </div>
                    <div style="height: 20px"></div>



                </div>
            </div>
        </div>
        <div style="height: 50px;width: 100%"></div>
        </form>
    </div>
</div>


<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script
        src="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    document.getElementById ("kategorie-button").addEventListener ("click", collapseSklepy, false);
    document.getElementById ("sklepy-button").addEventListener ("click", collapseKategorie, false);
    document.getElementById ("navbar-toggler-button").addEventListener ("click", collapseNavbar, false);


    async function collapseKategorie() {
        $('#kategorie').collapse('hide');
        $('#navbarTogglerDemo02').collapse('hide');
        await sleep(350);
        $('#sklepy').collapse('toggle');
    }
    async function collapseSklepy() {
        $('#sklepy').collapse('hide');
        $('#navbarTogglerDemo02').collapse('hide');
        await sleep(350);
        $('#kategorie').collapse('toggle');

    }
    async function collapseNavbar() {
        $('#sklepy').collapse('hide');
        $('#kategorie').collapse('hide');
        await sleep(350);
        $('#navbarTogglerDemo02').collapse('toggle');
    }
</script>
</body>
</html>