<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Norgie - Wiadomości</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link type="text/css" href="/css/user_profile.css" rel="stylesheet"/>

</head>
<body>

<nav class="navbar navbar-expand-xl navbar-light bg-light"
     style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);">
    <div class="navbar-brand" style="cursor: pointer;padding-left: 100px;" onclick="window.location='/';">
        <div class="row">
            <div class="col-4 dj text-center"><h1>NG</h1></div>
            <div class="col-6">NORGIE</div>
        </div>
    </div>
    <button class="navbar-toggler" id="navbar-toggler-button" type="button" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarTogglerDemo02" style="padding-left: 155px">
        <div class="nav navbar-nav d-flex justify-content-end" style="width: 90%;padding-bottom: 10px">
            <div class="nav_items d-flex align-items-center" style="padding-top: 10px;"
                 aria-controls="navbarToggleExternalContent"
            ><a href="/forum" class="nav_items_clickable" >Forum</a>
            </div>
            <div class="nav_items d-flex align-items-center" id="kategorie-button"
                 data-target="#kategorie" aria-controls="navbarToggleExternalContent"
                 aria-expanded="false" aria-label="Toggle navigation" style="padding-top: 10px"><a href="#" class="nav_items_clickable">Kategorie</a>
            </div>
            <div class="nav_items d-flex align-items-center" id="sklepy-button" style="padding-top: 10px;"
                 data-target="#sklepy" aria-controls="navbarToggleExternalContent"
                 aria-expanded="false" aria-label="Toggle navigation"><a href="#" class="nav_items_clickable" >Sklepy</a>
            </div>
            <div class="d-flex align-items-center" style="padding-right: 50px;padding-top: 10px" sec:authorize="!isAuthenticated()">
                <a href="/login">
                    <button type="button" style="" class="btn add_button"><span
                            class="fas fa-user"
                            style="font-size: 12px;padding-right: 3px;"></span>ZALOGUJ SIĘ
                    </button>
                </a>
            </div>
            <div class="d-flex align-items-center" style="padding-right: 50px;padding-top: 10px" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <button style="white-space:pre;" class="btn add_button" type="submit"
                            value="Sign Out"><span class="fas fa-user" style="font-size: 12px;padding-right: 3px;"></span>WYLOGUJ SIĘ</button>
                </form>
            </div>
            <div class="d-flex align-items-center" style="padding-top: 10px">
                <a href="/add/discount">
                    <button type="button"  class="btn add_button"><span
                            class="fas fa-plus"
                            style="font-size: 12px;padding-right: 3px;"></span>DODAJ OKAZJE
                    </button>
                </a>
            </div>
        </div>
    </div>
</nav>




<div class="container-fluid" style="padding-right: 0px;padding-left: 0px">

    <div class="row collapse" id="sklepy" style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);
         ;margin-top: 0px;margin-left: 0px">
        <div class="col-lg-10 offset-lg-1" style="padding-bottom: 40px;padding-top: 30px;margin-top: -20px;">
            <div class="row" style="padding-left: 20px;padding-right: 20px">
                <div class="col-xl-2" th:each="shop : ${list_of_shops}"
                     style="padding-bottom: 5px;padding-left: 5px;padding-right: 5px">
                    <a th:href="|/shops/${shop.getName().toLowerCase()}|" href="/shops/biedronka">
                        <button type="button" style="width: 100%;padding-left: 3px;padding-right: 3px" class="btn category_button"
                                th:text="${shop.getName()}">DODAJ KUPON
                        </button>
                    </a>
                </div>


            </div>
        </div>

    </div>

    <div class="row collapse" id="kategorie" style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);margin-top: 0px;margin-left: 0px">
        <div class="col-lg-10 offset-lg-1" style="padding-bottom: 40px;padding-top: 30px;margin-top: -20px;">
            <div class="row" style="padding-left: 20px;padding-right: 20px">
                <div class="col-xl-2" th:each="tag : ${list_of_tags}"
                     style="padding-bottom: 5px;padding-left: 5px;padding-right: 5px">
                    <a th:href="|/categories/${tag.getName().toLowerCase()}|" href="/shops/biedronka">
                        <button type="button" style="width: 100%;padding-left: 3px;padding-right: 3px" class="btn category_button"
                                th:text="${tag.getName()}">DODAJ KUPON
                        </button>
                    </a>
                </div>


            </div>
        </div>

    </div>


</div>


<div class="container" style="padding-top: 70px">

    <div class="row">

        <div class="d-flex flex-column media_small" style="font-weight: 400;font-size: 14px;padding-bottom: 50px;width: 25%">
            <span style="" class="d-flex justify-content-center">Cześć,</span>
            <a href="" class="d-flex justify-content-center" style="font-size: 20px;font-weight: 600;padding-bottom: 15px" th:href="@{|/profile/${user.getLogin()}|}"> <span style="" th:text="${user.getLogin()}">Rafał</span></a>

            <a href="/settings" style="width: 100%">
                <button type="button" style="width: 100%" class="text-left left_menu_button_picked">
                    <div class="row d-flex justify-content-center align-items-center">
                        <span class="fas fa-sliders-h" style="font-size: 16px;"></span>
                    </div>
                </button>
            </a>

            <a href="/settings/discounts" style="width: 100%">
                <button type="button" style="width: 100%" class="text-left left_menu_button">
                    <div class="row d-flex justify-content-center align-items-center">
                        <span class="far fa-clipboard" style="font-size: 16px;"></span>
                    </div>

                </button>
            </a>

            <a href="/settings/posts" style="width: 100%">
                <button type="button" style="width: 100%" class="text-left left_menu_button">
                    <div class="row d-flex justify-content-center align-items-center">
                        <span class="fas fa-blog" style="font-size: 16px;"></span>
                    </div>

                </button>
            </a>

            <a href="/settings/messages" style="width: 100%">
                <button type="button" style="width: 100%" class="text-left left_menu_button">
                    <div class="row d-flex justify-content-center align-items-center">
                        <span class="far fa-envelope" style="font-size: 16px;"></span>
                    </div>

                </button>
            </a>

            <a href="/settings/admin/discounts" sec:authorize="hasAuthority('ADMIN')" style="width: 100%">
                <button type="button" style="width: 100%" class="text-left left_menu_button">
                    <div class="row d-flex justify-content-center align-items-center">
                        <span class="far fa-calendar-check" style="font-size: 16px;"></span>
                    </div>
                </button>
            </a>

        </div>

        <div class="col-3 media_large" style="font-weight: 400;font-size: 14px;padding-bottom: 50px">
            <div class="row">
                <span style="padding-left: 25px">Cześć,</span>
            </div>
            <div class="row" style="font-size: 20px;font-weight: 600;padding-bottom: 15px">
                <a href="" th:href="@{|/profile/${user.getLogin()}|}"> <span style="padding-left: 25px" th:text="${user.getLogin()}">Rafał</span></a>
            </div>
            <div class="row">
                <a href="/settings" style="width: 100%">
                    <button type="button" style="width: 100%" class="text-left left_menu_button">
                        <div class="row">
                            <div class="col-2 text-center"><span class="fas fa-sliders-h" style="font-size: 16px;padding-left:18px"></span></div>
                            <div class="col-10"><span>Ustawienia konta</span></div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="row">
                <a href="/settings/discounts" style="width: 100%">
                    <button type="button" style="width: 100%" class="text-left left_menu_button">
                        <div class="row">
                            <div class="col-2 text-center"><span class="far fa-clipboard" style="font-size: 16px;padding-left: 20px"></span></div>
                            <div class="col-10"><span>Moje promocje</span></div>

                        </div>

                    </button>
                </a>
            </div>
            <div class="row">
                <a href="/settings/posts" style="width: 100%">
                    <button type="button" style="width: 100%" class="text-left left_menu_button">
                        <div class="row">
                            <div class="col-2 text-center"><span class="fas fa-blog" style="font-size: 16px;padding-left: 20px"></span></div>
                            <div class="col-10"><span>Moje posty</span></div>

                        </div>

                    </button>
                </a>
            </div>
            <div class="row">
                <a href="/settings/messages" style="width: 100%">
                    <button type="button" style="width: 100%" class="text-left left_menu_button_picked">
                        <div class="row">
                            <div class="col-2 text-center"><span class="far fa-envelope" style="font-size: 16px;padding-left: 17px"></span></div>
                            <div class="col-10"><span>Moje wiadomości</span></div>

                        </div>

                    </button>
                </a>
            </div>
            <div class="row" sec:authorize="hasAuthority('ADMIN')">
                <a href="/settings/admin/discounts" style="width: 100%">
                    <button type="button" style="width: 100%" class="text-left left_menu_button">
                        <div class="row">
                            <div class="col-2 text-center"><span class="far fa-calendar-check" style="font-size: 16px;padding-left: 17px"></span></div>
                            <div class="col-10"><span>Oczekujące promocje</span></div>

                        </div>
                    </button>
                </a>
            </div>

        </div>
        <div class="col-8" style="border-left: 1px solid rgba(82,73,98,.2);padding-left: 50px;padding-bottom: 50px;">
                <div class="row" th:if="${good_status}!=null">
                    <div class="container-fluid" style="padding-right: 0;padding-left: 0;padding-bottom: 15px">
                        <div class="col-7" style="padding-left: 0px;padding-right: 0px">
                            <div class="alert">
                                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                <strong th:text="${good_status.toString()}"></strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" th:if="${bad_status}!=null">
                    <div class="container-fluid" style="padding-right: 0;padding-left: 0;">
                        <div class="col-7" style="padding-left: 0px;padding-right: 0px;padding-bottom: 15px">
                            <div class="bad_alert">
                                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                <strong th:text="${bad_status.toString()}"></strong>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row div_min_width d-flex justify-content-start" style="font-weight: 400;font-size: 29px;padding-bottom: 20px">
                <div class="" style="font-weight:400;padding-left:0px">
                    Moje wiadomości
                </div>
                <div class="" style="padding-right: 0px;padding-left: 20px">
                    <button type="button" style="" data-toggle="modal" data-target="#dane" class="btn new_msg"><span class="fas fa-plus" style="font-size: 13px;padding-right:5px"></span>Nowa wiadomość</button>
                </div>
            </div>

            <div class="row" style="font-size:16px;font-weight:500;padding-bottom: 10px;height: 30px">
            </div>

            <span th:each="conversation : ${list_of_conversations}">
                <div class="row" style="font-size:14px;padding-top: 10px;" th:if="${conversation.hasNewMessage(user)}">
                    <a th:href="@{|/messages/${conversation.getConversation_id()}|}" style="width: 100%">
                    <div class="col-7 div_min_width pink_shadow" style="border: 2px solid rgb(117 117 117);padding-left: 20px;padding-top:13px;padding-bottom:13px;border-radius: 10px">
                        <div class="row" style="padding-left: 8px">
                            <div class="" style="width:auto;margin-top: -26px;z-index: 2;background-color: white;color: rgba(8,8,8,0.72)">Nowa wiadomość</div>
                        </div>
                        <div class="row">
                            <div class="col-3 d-flex align-self-center"><img src="/images/user.png" class="user_image"><img></div>
                            <div class="col-8 d-flex align-self-center flex-column" style="font-weight: 600;">
                                <div th:text="${conversation.getOtherUser(user).getLogin()}">

                                    TrailBlazer

                                </div>
                                <div style="margin-top: -5px">

                                    <span style="font-size: 12px;color: rgba(8,8,8,0.72);overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: block" th:text="${conversation.getNewestMessage(user)}">
                                        Ty: hejka, co tam? Chcesz cos z Avon'u?
                                    </span>

                                </div>
                            </div>
                        </div>

                    </div>
                    </a>
                </div>

            </span>

            <div class="row" style="font-size:16px;font-weight: 500;padding-bottom: 0px;padding-top:10px;color: #000000bf;">
                Odczytane wiadomości
            </div>

            <div class="page-wrap d-flex flex-row align-items-center" style="padding-top: 35px" th:if="${list_of_conversations.isEmpty()}">
                <div class="container">
                    <div class="row justify-content-left">
                        <div class="col-md-6 text-center">
                            <div class="mb-4 lead">
                                <span style="color: rgba(0,0,0,0.78);font-size: 30px;font-weight: 400;margin-top: -15px;">Nie posiadasz żadnych wiadomości! :(</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <span th:each="conversation : ${list_of_conversations}">
                <div class="row" style="font-size:14px;padding-top: 10px;" th:if="${!conversation.hasNewMessage(user)}">
                    <a th:href="@{|/messages/${conversation.getConversation_id()}|}" style="width: 100%">
                    <div class="col-7 div_min_width pink_shadow" style="border: 1px solid rgba(82,73,98,0.2);padding-left: 20px;padding-top:13px;padding-bottom:13px;border-radius: 10px">
                        <div class="row">
                            <div class="col-3 d-flex align-self-center"><img src="/images/user.png" class="user_image"><img></div>
                            <div class="col-8 d-flex align-self-center flex-column" style="font-weight: 600;">
                                <div th:text="${conversation.getOtherUser(user).getLogin()}">

                                    JanzusKowalski123

                                </div>
                                <div style="margin-top: -5px">

                                    <span style="font-size: 12px;color:rgba(109,109,109,0.56);overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: block"  th:text="${conversation.getNewestMessage(user)}">
                                        Ty: rafineria123@gmail.com
                                    </span>

                                </div>
                            </div>
                        </div>

                    </div>
                    </a>
                </div>
            </span>


        </div>



    </div>

</div>


<div class="modal fade" id="dane" tabindex="-1" role="dialog" aria-labelledby="daneTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form th:action="@{/settings/messages}" method="post"class="modal-content">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgba(82, 73, 98, 0.06);">
                <h5 class="modal-title" id="daneLongTitle" style="padding-left: 15px">Nowa wiadomość</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row" style="padding-left: 36px">
                        <div class="" style="width:auto;margin-bottom: -12px;z-index: 2;background-color: white;color: rgba(82,73,98,0.6)">Do</div>

                    </div>
                    <div class="row">
                        <div class="col-12" style="width:100%">
                            <input type="text" class="add_input" id="login" name="login" placeholder="Wpisz nazwę osoby" value="" style="border: 1px solid rgba(82,73,98,0.2);
                            padding-left: 20px;padding-top:13px;padding-bottom:13px;border-radius: 10px;width:100%">
                        </div>
                    </div>

                    <div class="row" style="padding-left: 36px">
                        <div class="" style="width:auto;margin-bottom: -12px;z-index: 2;background-color: white;color: rgba(82,73,98,0.6)">Treść</div>

                    </div>
                    <div class="row">
                        <div class="col-12" style="width:100%">
                            <textarea rows="4" COLS="72" id="message" maxlength="400" name="message" WRAP="description" placeholder="Treść wiadomości" style="border: 1px solid rgba(82,73,98,0.2);
                            padding-left: 20px;padding-top:13px;padding-bottom:13px;border-radius: 10px;width:100%"></textarea>

                        </div>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" style="width: 100%;border-radius: 20px">Napisz</button>
            </div>
        </div>
        </form>
    </div>
</div>



<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script
        src="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    document.getElementById ("kategorie-button").addEventListener ("click", collapseSklepy, false);
    document.getElementById ("sklepy-button").addEventListener ("click", collapseKategorie, false);
    document.getElementById ("navbar-toggler-button").addEventListener ("click", collapseNavbar, false);


    async function collapseKategorie() {
        $('#kategorie').collapse('hide');
        $('#navbarTogglerDemo02').collapse('hide');
        await sleep(350);
        $('#sklepy').collapse('toggle');
    }
    async function collapseSklepy() {
        $('#sklepy').collapse('hide');
        $('#navbarTogglerDemo02').collapse('hide');
        await sleep(350);
        $('#kategorie').collapse('toggle');

    }
    async function collapseNavbar() {
        $('#sklepy').collapse('hide');
        $('#kategorie').collapse('hide');
        await sleep(350);
        $('#navbarTogglerDemo02').collapse('toggle');
    }
</script>
</body>
</html>