<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Norgie - Ustawienia</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link type="text/css" href="/css/user_profile.css" rel="stylesheet"/>

</head>
<body>

<nav class="navbar navbar-expand-xl navbar-light bg-light"
     style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);">
    <div class="navbar-brand" style="cursor: pointer;padding-left: 100px;" onclick="window.location='/';">
        <div class="row">
            <div class="col-4 dj text-center"><h1>NG</h1></div>
            <div class="col-6">NORGIE</div>
        </div>
    </div>
    <button class="navbar-toggler" id="navbar-toggler-button" type="button" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarTogglerDemo02" style="padding-left: 155px">
        <div class="nav navbar-nav d-flex justify-content-end" style="width: 90%;padding-bottom: 10px">
            <div class="nav_items d-flex align-items-center" style="padding-top: 10px;"
                 aria-controls="navbarToggleExternalContent"
            ><a href="/forum" class="nav_items_clickable" >Forum</a>
            </div>
            <div class="nav_items d-flex align-items-center" id="kategorie-button"
                 data-target="#kategorie" aria-controls="navbarToggleExternalContent"
                 aria-expanded="false" aria-label="Toggle navigation" style="padding-top: 10px"><a href="#" class="nav_items_clickable">Kategorie</a>
            </div>
            <div class="nav_items d-flex align-items-center" id="sklepy-button" style="padding-top: 10px;"
                 data-target="#sklepy" aria-controls="navbarToggleExternalContent"
                 aria-expanded="false" aria-label="Toggle navigation"><a href="#" class="nav_items_clickable" >Sklepy</a>
            </div>
            <div class="d-flex align-items-center" style="padding-right: 50px;padding-top: 10px" sec:authorize="!isAuthenticated()">
                <a href="/login">
                    <button type="button" style="" class="btn add_button"><span
                            class="fas fa-user"
                            style="font-size: 12px;padding-right: 3px;"></span>ZALOGUJ SIĘ
                    </button>
                </a>
            </div>
            <div class="d-flex align-items-center" style="padding-right: 50px;padding-top: 10px" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <button style="white-space:pre;" class="btn add_button" type="submit"
                            value="Sign Out"><span class="fas fa-user" style="font-size: 12px;padding-right: 3px;"></span>WYLOGUJ SIĘ</button>
                </form>

            </div>
            <div class="d-flex align-items-center" style="padding-top: 10px">
                <a href="/discount/add">
                    <button type="button"  class="btn add_button"><span
                            class="fas fa-plus"
                            style="font-size: 12px;padding-right: 3px;"></span>DODAJ OKAZJE
                    </button>
                </a>
            </div>
        </div>
    </div>
</nav>




<div class="container-fluid" style="padding-right: 0px;padding-left: 0px">

    <div class="row collapse" id="sklepy" style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);
         ;margin-top: 0px;margin-left: 0px">
        <div class="col-lg-10 offset-lg-1" style="padding-bottom: 40px;padding-top: 30px;margin-top: -20px;">
            <div class="row" style="padding-left: 20px;padding-right: 20px">
                <div class="col-xl-2" th:each="shop : ${list_of_shops}"
                     style="padding-bottom: 5px;padding-left: 5px;padding-right: 5px">
                    <a th:href="|/shops/${shop.getName().toLowerCase()}|" href="/shops/biedronka">
                        <button type="button" style="width: 100%;padding-left: 3px;padding-right: 3px" class="btn category_button"
                                th:text="${shop.getName()}">DODAJ KUPON
                        </button>
                    </a>
                </div>


            </div>
        </div>

    </div>

    <div class="row collapse" id="kategorie" style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);margin-top: 0px;margin-left: 0px">
        <div class="col-lg-10 offset-lg-1" style="padding-bottom: 40px;padding-top: 30px;margin-top: -20px;">
            <div class="row" style="padding-left: 20px;padding-right: 20px">
                <div class="col-xl-2" th:each="tag : ${list_of_tags}"
                     style="padding-bottom: 5px;padding-left: 5px;padding-right: 5px">
                    <a th:href="|/categories/${tag.getName().toLowerCase()}|" href="/shops/biedronka">
                        <button type="button" style="width: 100%;padding-left: 3px;padding-right: 3px" class="btn category_button"
                                th:text="${tag.getName()}">DODAJ KUPON
                        </button>
                    </a>
                </div>


            </div>
        </div>

    </div>


</div>

<div class="container" style="padding-top: 70px">

    <div class="row">

        <div class="d-flex flex-column media_small" style="font-weight: 400;font-size: 14px;padding-bottom: 50px;width: 25%">
            <span style="" class="d-flex justify-content-center">Cześć,</span>
            <a href="" class="d-flex justify-content-center" style="font-size: 20px;font-weight: 600;padding-bottom: 15px" th:href="@{|/profile/${user.getLogin()}|}"> <span style="" th:text="${user.getLogin()}">Rafał</span></a>

            <a href="/settings" style="width: 100%">
                <button type="button" style="width: 100%" class="text-left left_menu_button">
                    <div class="row d-flex justify-content-center align-items-center">
                        <span class="fas fa-sliders-h" style="font-size: 16px;"></span>
                    </div>
                </button>
            </a>

            <a href="/settings/discounts" style="width: 100%">
                <button type="button" style="width: 100%" class="text-left left_menu_button">
                    <div class="row d-flex justify-content-center align-items-center">
                        <span class="far fa-clipboard" style="font-size: 16px;"></span>
                    </div>

                </button>
            </a>

            <a href="/settings/posts" style="width: 100%">
                <button type="button" style="width: 100%" class="text-left left_menu_button">
                    <div class="row d-flex justify-content-center align-items-center">
                        <span class="fas fa-blog" style="font-size: 16px;"></span>
                    </div>

                </button>
            </a>

            <a href="/settings/messages" style="width: 100%">
                <button type="button" style="width: 100%" class="text-left left_menu_button">
                    <div class="row d-flex justify-content-center align-items-center">
                        <span class="far fa-envelope" style="font-size: 16px;"></span>
                    </div>

                </button>
            </a>
            <a href="/settings/liked/page/1" style="width: 100%">
                <button type="button" style="width: 100%" class="text-left left_menu_button">
                    <div class="row d-flex justify-content-center align-items-center">
                        <span class="fab fa-gratipay" style="font-size: 16px;"></span>
                    </div>

                </button>
            </a>

            <a href="/settings/admin/discounts" sec:authorize="hasAuthority('ADMIN')" style="width: 100%">
                <button type="button" style="width: 100%" class="text-left left_menu_button">
                    <div class="row d-flex justify-content-center align-items-center">
                        <span class="far fa-calendar-check" style="font-size: 16px;"></span>
                    </div>
                </button>
            </a>
            <a href="/settings/admin/functions" sec:authorize="hasAuthority('ADMIN')" style="width: 100%">
                <button type="button" style="width: 100%" class="text-left left_menu_button_picked">
                    <div class="row d-flex justify-content-center align-items-center">
                        <span class="fas fa-tools" style="font-size: 16px;"></span>
                    </div>
                </button>
            </a>

        </div>

        <div class="col-3 media_large" style="font-weight: 400;font-size: 14px;padding-bottom: 50px">
            <div class="row">
                <span style="padding-left: 25px">Cześć,</span>
            </div>
            <div class="row" style="font-size: 20px;font-weight: 600;padding-bottom: 15px">
                <a href="" th:href="@{|/profile/${user.getLogin()}|}"> <span style="padding-left: 25px" th:text="${user.getLogin()}">Rafał</span></a>
            </div>

            <div class="row">
                <a href="/settings" style="width: 100%">
                    <button type="button" style="width: 100%" class="text-left left_menu_button">
                        <div class="row d-flex justify-content-lg-center align-items-lg-center">
                            <div class="col-2 text-center"><span class="fas fa-sliders-h" style="font-size: 16px;padding-left:18px"></span></div>
                            <div class="col-10"><span>Ustawienia konta</span></div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="row">
                <a href="/settings/discounts" style="width: 100%">
                    <button type="button" style="width: 100%" class="text-left left_menu_button">
                        <div class="row">
                            <div class="col-2 text-center"><span class="far fa-clipboard" style="font-size: 16px;padding-left: 20px"></span></div>
                            <div class="col-10"><span>Moje promocje</span></div>

                        </div>

                    </button>
                </a>
            </div>
            <div class="row">
                <a href="/settings/posts" style="width: 100%">
                    <button type="button" style="width: 100%" class="text-left left_menu_button">
                        <div class="row">
                            <div class="col-2 text-center"><span class="fas fa-blog" style="font-size: 16px;padding-left: 20px"></span></div>
                            <div class="col-10"><span>Moje posty</span></div>

                        </div>

                    </button>
                </a>
            </div>
            <div class="row">
                <a href="/settings/messages" style="width: 100%">
                    <button type="button" style="width: 100%" class="text-left left_menu_button">
                        <div class="row">
                            <div class="col-2 text-center"><span class="far fa-envelope" style="font-size: 16px;padding-left: 17px"></span></div>
                            <div class="col-10"><span>Moje wiadomości</span></div>

                        </div>

                    </button>
                </a>
            </div>
            <div class="row">
                <a href="/settings/liked/page/1" style="width: 100%">
                    <button type="button" style="width: 100%" class="text-left left_menu_button">
                        <div class="row">
                            <div class="col-2 text-center"><span class="fab fa-gratipay" style="font-size: 16px;padding-left: 17px"></span></div>
                            <div class="col-10"><span>Polubione promocje</span></div>

                        </div>

                    </button>
                </a>
            </div>
            <div class="row" sec:authorize="hasAuthority('ADMIN')">
                <a href="/settings/admin/discounts" style="width: 100%">
                    <button type="button" style="width: 100%" class="text-left left_menu_button">
                        <div class="row">
                            <div class="col-2 text-center"><span class="far fa-calendar-check" style="font-size: 16px;padding-left: 17px"></span></div>
                            <div class="col-10"><span>Oczekujące promocje</span></div>

                        </div>
                    </button>
                </a>
            </div>
            <div class="row" sec:authorize="hasAuthority('ADMIN')">
                <a href="/settings/admin/functions" style="width: 100%">
                    <button type="button" style="width: 100%" class="text-left left_menu_button_picked">
                        <div class="row">
                            <div class="col-2 text-center"><span class="fas fa-tools" style="font-size: 16px;padding-left: 17px"></span></div>
                            <div class="col-10"><span>Funkcjonalności</span></div>

                        </div>
                    </button>
                </a>
            </div>

        </div>

        <div class="col-8" style="border-left: 1px solid rgba(82,73,98,.2);padding-left: 50px;padding-bottom: 50px;">
            <div class="row">
                <div id="status_row" class="container-fluid" style="padding-right: 0;padding-left: 0;padding-bottom: 15px;display: none">
                    <div class="col-9" style="padding-left: 0px;padding-right: 0px">
                        <div class="alert">
                            <span class="closebtn" onclick="this.parentElement.parentElement.parentElement.style.display='none';">&times;</span>
                            <strong id="status_text" class="d-flex flex-column"></strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" th:if="${bad_status}!=null">
                <div class="container-fluid" style="padding-right: 0;padding-left: 0;">
                    <div class="col-9" style="padding-left: 0px;padding-right: 0px;padding-bottom: 15px">
                        <div class="bad_alert">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <strong th:text="${bad_status.toString()}"></strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="font-weight: 400;font-size: 31px;padding-bottom: 20px">
                Funkcjonalności
            </div>

            <div class="row" style="font-size:20px;font-weight:600;padding-bottom: 20px">
                Skanowanie stron
            </div>

            <div class="d-flex flex-column" style="width: 55%" id="scanners">

            <button type="button" onclick="scanXkom()" class="btn" style="margin-left: 10px;color: white;width:100%;min-width:fit-content;background: linear-gradient(45deg,#e42d31,#ff0065);font-weight: 900;font-size: 16px">Skanuj sklep X-Kom</button>
            <button type="button"  onclick="scanAmazon()" class="btn" style="margin-left: 10px;color: white;width:100%;min-width:fit-content;background: linear-gradient(45deg,#e42d31,#ff0065);font-weight: 900;font-size: 16px;margin-top: 10px">Skanuj sklep Amazon</button>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-center" id="loader" style="width: 55%;visibility: hidden;margin-top:-70px">
                <div class="loader"></div>
                <span style="font-weight: 500;">Skanowanie... Nie zamykaj tej strony.</span>
            </div>


        </div>


    </div>

</div>










<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script
        src="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    document.getElementById ("kategorie-button").addEventListener ("click", collapseSklepy, false);
    document.getElementById ("sklepy-button").addEventListener ("click", collapseKategorie, false);
    document.getElementById ("navbar-toggler-button").addEventListener ("click", collapseNavbar, false);

    async function scanXkom(){

        document.getElementById("scanners").style.visibility = 'collapse';
        document.getElementById("loader").style.visibility = 'visible';
        $.ajax({
            type : "POST",
            url : "/settings/admin/xkom",
            success : function (data) {



            }
        })
        await sleep(2000);
        checkStatus();


    }

    async function scanAmazon(){

        document.getElementById("scanners").style.visibility = 'collapse';
        document.getElementById("loader").style.visibility = 'visible';
        $.ajax({
            type : "POST",
            url : "/settings/admin/amazon",
            success : function (data) {



            }
        })
        await sleep(2000);
        checkStatus();
    }

    function checkStatus(){

        $.ajax({
            url : "/settings/admin/status",
            success : async function (data) {
                const obj = data;
                if (obj[0] == "working") {

                    await sleep(2000);
                    checkStatus();


                }
                if (obj[0] == "ok") {

                    document.getElementById("status_text").innerHTML="<span>"+obj[1]+"</span>"+"<span>"+obj[2]+"</span>"+"<span>"+obj[3]+"</span>"+"<span>"+obj[4]+"</span>";
                    document.getElementById("status_row").style.display = 'flex';
                    document.getElementById("loader").style.visibility = 'hidden';
                    document.getElementById("scanners").style.visibility = 'visible';


                }


            }
        });

    }


    async function collapseKategorie() {
        $('#kategorie').collapse('hide');
        $('#navbarTogglerDemo02').collapse('hide');
        await sleep(350);
        $('#sklepy').collapse('toggle');
    }
    async function collapseSklepy() {
        $('#sklepy').collapse('hide');
        $('#navbarTogglerDemo02').collapse('hide');
        await sleep(350);
        $('#kategorie').collapse('toggle');

    }
    async function collapseNavbar() {
        $('#sklepy').collapse('hide');
        $('#kategorie').collapse('hide');
        await sleep(350);
        $('#navbarTogglerDemo02').collapse('toggle');
    }
</script>
</body>
</html>