<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link type="text/css" href="/css/user_profile.css" rel="stylesheet"/>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: linear-gradient(45deg,#e42d31,#ff0065);">
    <div class="navbar-brand" style="cursor: pointer;" onclick="window.location='/';">
        <div class="row">
            <div class="col-md-4 dj text-center"><h1>NG</h1></div>
            <div class="col-md-6">NORGIE</div>
        </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="nav navbar-nav ml-auto" style="padding-right: 250px">
            <li class="nav_items" data-toggle="collapse"
                data-target="#kategorie" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation"><a href="#" class="nav_items_clickable">Kategorie</a></li>
            <li class="nav_items" data-toggle="collapse"
                data-target="#sklepy" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation"><a href="#" class="nav_items_clickable">Sklepy</a></li>
            <li style="padding-right: 50px;"sec:authorize="!isAuthenticated()">
                <a href="/login"><button type="button" style="white-space:pre;" class="btn add_button"><span class="fas fa-user"
                                                                                                             style="font-size: 12px;"></span>ZALOGUJ SIĘ</button></a>
            </li>
            <li style="padding-right: 50px;"sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <button style="white-space:pre;" class="btn add_button" type="submit"
                            value="Sign Out"><span class="fas fa-user" style="font-size: 12px;"></span>WYLOGUJ SIĘ</button>
                </form>
            </li>
            <li>
                <a href="/add/discount"> <button type="button" style="" class="btn add_button"><span class="fas fa-plus"
                                                                                                     style="font-size: 12px;"></span>
                    DODAJ OKAZJE
                </button></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid" style="padding-right: 0px;padding-left: 0px">

    <div class="row collapse"  id="sklepy" style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);
     padding-bottom: 30px;padding-top: 30px;margin-top: -5px;padding-left:0px;padding-right: 0px;margin-left: 0;margin-right: 0">
        <div class="col-md-8 offset-md-2" style="padding-bottom: 20px;margin-top: -5px;">
            <div class="row">
                <div class="col-md-2" th:each="shop : ${list_of_shops}" style="padding-bottom: 5px;padding-right:0px;padding-left: 5px;">
                    <a th:href="|/shops/${shop.getName().toLowerCase()}|" href="/shops/biedronka"><button type="button" style="white-space:pre;width: 100%" class="btn category_button" th:text="${shop.getName()}">DODAJ KUPON</button></a>
                </div>
            </div>
        </div>

    </div>
    <div class="row collapse"  id="kategorie" style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);
     padding-bottom: 30px;padding-top: 30px;margin-top: -5px;padding-left:0px;padding-right: 0px;margin-left: 0;margin-right: 0">
        <div class="col-md-8 offset-md-2" style="padding-bottom: 20px;margin-top: -5px;">
            <div class="row">
                <div class="col-md-2" th:each="tag : ${list_of_tags}" style="padding-bottom: 5px;padding-right:0px;padding-left: 5px;">
                    <a th:href="|/categories/${tag.getName().toLowerCase()}|" href="/shops/biedronka"><button type="button" style="white-space:pre;width: 100%" class="btn category_button" th:text="${tag.getName()}">DODAJ KUPON</button></a>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="container" style="padding-top: 70px">

    <div class="row">

        <div class="col-3" style="font-weight: 400;font-size: 14px;">
            <div class="row">
                <span style="padding-left: 25px">Cześć,</span>
            </div>
            <div class="row" style="font-size: 20px;font-weight: 600;padding-bottom: 15px">
                <span style="padding-left: 25px">Rafał</span>
            </div>
            <div class="row">
                <a href="/settings" style="width: 100%">
                    <button type="button" style="width: 100%" class="text-left left_menu_button">
                        <div class="row">
                            <div class="col-2 text-center"><span class="fas fa-cog" style="font-size: 16px;padding-left:18px"></span></div>
                            <div class="col-10"><span>Ustawienia konta</span></div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="row">
                <a href="/settings/discounts" style="width: 100%">
                    <button type="button" style="width: 100%" class="text-left left_menu_button">
                        <div class="row">
                            <div class="col-2 text-center"><span class="far fa-clipboard" style="font-size: 16px;padding-left: 20px"></span></div>
                            <div class="col-10"><span>Moje okazje</span></div>

                        </div>

                    </button>
                </a>
            </div>
            <div class="row">
                <a href="/settings/messages" style="width: 100%">
                    <button type="button" style="width: 100%" class="text-left left_menu_button_picked">
                        <div class="row">
                            <div class="col-2 text-center"><span class="far fa-envelope" style="font-size: 16px;padding-left: 17px"></span></div>
                            <div class="col-10"><span>Moje wiadomości</span></div>

                        </div>

                    </button>
                </a>
            </div>

        </div>
        <div class="col-8" style="border-left: 1px solid rgba(82,73,98,.2);padding-left: 50px">
            <div class="row" style="font-weight: 400;font-size: 31px;padding-bottom: 20px">
                Moje wiadomości
            </div>

            <div class="row"  style="font-size:14px;padding-top: 10px;">
                <div class="col-7" style="border: 2px solid rgb(117 117 117);padding-left: 20px;padding-top:13px;padding-bottom:13px;border-radius: 10px">
                    <div class="row" style="padding-left: 8px">
                        <div class="" style="width:auto;margin-top: -26px;z-index: 2;background-color: white;color: rgba(8,8,8,0.72)">Nowa wiadomość</div>
                    </div>
                    <div class="row">
                        <div class="col-3 align-self-center"><img src="/images/user.png"class="user_image"><img></div>
                        <div class="col-8 align-self-center" style="font-weight: 600;">
                            <div class="row">

                                TrailBlazer

                            </div>
                            <div class="row">

                                <span style="margin-top:-3px;font-size: 12px;color: rgba(8,8,8,0.72)">
                                    Ty: hejka, co tam? Chcesz cos z Avon'u?
                                </span>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row"  style="font-size:14px;padding-top: 10px;">
                <div class="col-7" style="border: 1px solid rgba(82,73,98,0.2);padding-left: 20px;padding-top:13px;padding-bottom:13px;border-radius: 10px">
                    <div class="row">
                        <div class="col-3 align-self-center"><img src="/images/user.png"class="user_image"><img></div>
                        <div class="col-8 align-self-center" style="font-weight: 600;">
                            <div class="row">

                                JanzusKowalski123

                            </div>
                            <div class="row">

                                <span style="margin-top:-3px;font-size: 12px;color:rgba(109,109,109,0.56)">
                                    Ty: rafineria123@gmail.com
                                </span>

                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>



    </div>

</div>



<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script
        src="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>