<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Norgie - Moje Okazje</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link type="text/css" href="/css/user_profile.css" rel="stylesheet"/>

</head>
<body>

<nav class="navbar navbar-expand-xl navbar-light bg-light"
     style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);">
    <div class="navbar-brand" style="cursor: pointer;padding-left: 100px;" onclick="window.location='/';">
        <div class="row">
            <div class="col-4 dj text-center"><h1>NG</h1></div>
            <div class="col-6">NORGIE</div>
        </div>
    </div>
    <button class="navbar-toggler" id="navbar-toggler-button" type="button" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarTogglerDemo02" style="padding-left: 155px">
        <div class="nav navbar-nav d-flex justify-content-end" style="width: 90%;padding-bottom: 10px">
            <div class="nav_items d-flex align-items-center" style="padding-top: 10px;"
                 aria-controls="navbarToggleExternalContent"
            ><a href="/forum" class="nav_items_clickable" >Forum</a>
            </div>
            <div class="nav_items d-flex align-items-center" id="kategorie-button"
                 data-target="#kategorie" aria-controls="navbarToggleExternalContent"
                 aria-expanded="false" aria-label="Toggle navigation" style="padding-top: 10px"><a href="#" class="nav_items_clickable">Kategorie</a>
            </div>
            <div class="nav_items d-flex align-items-center" id="sklepy-button" style="padding-top: 10px;"
                 data-target="#sklepy" aria-controls="navbarToggleExternalContent"
                 aria-expanded="false" aria-label="Toggle navigation"><a href="#" class="nav_items_clickable" >Sklepy</a>
            </div>
            <div class="d-flex align-items-center" style="padding-right: 50px;padding-top: 10px" sec:authorize="!isAuthenticated()">
                <a href="/auth/login">
                    <button type="button" style="" class="btn add_button"><span
                            class="fas fa-user"
                            style="font-size: 12px;padding-right: 3px;"></span>ZALOGUJ SIĘ
                    </button>
                </a>
            </div>
            <div class="d-flex align-items-center" style="padding-right: 50px;padding-top: 10px" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <button style="white-space:pre;" class="btn add_button" type="submit"
                            value="Sign Out"><span class="fas fa-user" style="font-size: 12px;padding-right: 3px;"></span>WYLOGUJ SIĘ</button>
                </form>
            </div>
            <div class="d-flex align-items-center" style="padding-top: 10px">
                <a href="/discount/add">
                    <button type="button"  class="btn add_button"><span
                            class="fas fa-plus"
                            style="font-size: 12px;padding-right: 3px;"></span>DODAJ OKAZJE
                    </button>
                </a>
            </div>
        </div>
    </div>
</nav>




<div class="container-fluid" style="padding-right: 0px;padding-left: 0px">

    <div class="row collapse" id="sklepy" style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);
         ;margin-top: 0px;margin-left: 0px">
        <div class="col-lg-10 offset-lg-1" style="padding-bottom: 40px;padding-top: 30px;margin-top: -20px;">
            <div class="row" style="padding-left: 20px;padding-right: 20px">
                <div class="col-xl-2" th:each="shop : ${list_of_shops}"
                     style="padding-bottom: 5px;padding-left: 5px;padding-right: 5px">
                    <a th:href="|/shops/${shop.getName().toLowerCase()}|" href="/shops/biedronka">
                        <button type="button" style="width: 100%;padding-left: 3px;padding-right: 3px" class="btn category_button"
                                th:text="${shop.getName()}">DODAJ KUPON
                        </button>
                    </a>
                </div>


            </div>
        </div>

    </div>

    <div class="row collapse" id="kategorie" style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);margin-top: 0px;margin-left: 0px">
        <div class="col-lg-10 offset-lg-1" style="padding-bottom: 40px;padding-top: 30px;margin-top: -20px;">
            <div class="row" style="padding-left: 20px;padding-right: 20px">
                <div class="col-xl-2" th:each="tag : ${list_of_tags}"
                     style="padding-bottom: 5px;padding-left: 5px;padding-right: 5px">
                    <a th:href="|/categories/${tag.getName().toLowerCase()}|" href="/shops/biedronka">
                        <button type="button" style="width: 100%;padding-left: 3px;padding-right: 3px" class="btn category_button"
                                th:text="${tag.getName()}">DODAJ KUPON
                        </button>
                    </a>
                </div>


            </div>
        </div>

    </div>


</div>

<div class="container" style="padding-top: 70px">

    <div class="row">

        <div class="d-flex flex-column media_small" style="font-weight: 400;font-size: 14px;padding-bottom: 50px;width: 25%">
            <span style="" class="d-flex justify-content-center">Cześć,</span>
            <a href="" class="d-flex justify-content-center" style="font-size: 20px;font-weight: 600;padding-bottom: 15px" th:href="@{|/profile/${user.getLogin()}|}"> <span style="" th:text="${user.getLogin()}">Rafał</span></a>

            <a href="/settings" style="width: 100%">
                <button type="button" style="width: 100%" class="text-left left_menu_button">
                    <div class="row d-flex justify-content-center align-items-center">
                        <span class="fas fa-sliders-h" style="font-size: 16px;"></span>
                    </div>
                </button>
            </a>

            <a href="/settings/discounts" style="width: 100%">
                <button type="button" style="width: 100%" class="text-left left_menu_button_picked">
                    <div class="row d-flex justify-content-center align-items-center">
                        <span class="far fa-clipboard" style="font-size: 16px;"></span>
                    </div>

                </button>
            </a>

            <a href="/settings/posts" style="width: 100%">
                <button type="button" style="width: 100%" class="text-left left_menu_button">
                    <div class="row d-flex justify-content-center align-items-center">
                        <span class="fas fa-blog" style="font-size: 16px;"></span>
                    </div>

                </button>
            </a>


            <a href="/settings/messages" style="width: 100%">
                <button type="button" style="width: 100%" class="text-left left_menu_button">
                    <div class="row d-flex justify-content-center align-items-center">
                        <span class="far fa-envelope" style="font-size: 16px;"></span>
                    </div>

                </button>
            </a>
            <a href="/settings/liked/page/1" style="width: 100%">
                <button type="button" style="width: 100%" class="text-left left_menu_button">
                    <div class="row d-flex justify-content-center align-items-center">
                        <span class="fab fa-gratipay" style="font-size: 16px;"></span>
                    </div>

                </button>
            </a>

            <a href="/settings/admin/discounts" sec:authorize="hasAuthority('ADMIN')" style="width: 100%">
                <button type="button" style="width: 100%" class="text-left left_menu_button">
                    <div class="row d-flex justify-content-center align-items-center">
                        <span class="far fa-calendar-check" style="font-size: 16px;"></span>
                    </div>
                </button>
            </a>
            <a href="/settings/admin/functions" sec:authorize="hasAuthority('ADMIN')" style="width: 100%">
                <button type="button" style="width: 100%" class="text-left left_menu_button">
                    <div class="row d-flex justify-content-center align-items-center">
                        <span class="fas fa-tools" style="font-size: 16px;"></span>
                    </div>
                </button>
            </a>

        </div>

        <div class="col-3 media_large" style="font-weight: 400;font-size: 14px;padding-bottom: 50px">
            <div class="row">
                <span style="padding-left: 25px">Cześć,</span>
            </div>
            <div class="row" style="font-size: 20px;font-weight: 600;padding-bottom: 15px">
                <a href="" th:href="@{|/profile/${user.getLogin()}|}"> <span style="padding-left: 25px" th:text="${user.getLogin()}">Rafał</span></a>
            </div>
            <div class="row">
                <a href="/settings" style="width: 100%">
                    <button type="button" style="width: 100%" class="text-left left_menu_button">
                        <div class="row">
                            <div class="col-2 text-center"><span class="fas fa-sliders-h" style="font-size: 16px;padding-left:18px"></span></div>
                            <div class="col-10"><span>Ustawienia konta</span></div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="row">
                <a href="/settings/discounts" style="width: 100%">
                    <button type="button" style="width: 100%" class="text-left left_menu_button_picked">
                        <div class="row">
                            <div class="col-2 text-center"><span class="far fa-clipboard" style="font-size: 16px;padding-left: 20px"></span></div>
                            <div class="col-10"><span>Moje promocje</span></div>

                        </div>

                    </button>
                </a>
            </div>
            <div class="row">
                <a href="/settings/posts" style="width: 100%">
                    <button type="button" style="width: 100%" class="text-left left_menu_button">
                        <div class="row">
                            <div class="col-2 text-center"><span class="fas fa-blog" style="font-size: 16px;padding-left: 20px"></span></div>
                            <div class="col-10"><span>Moje posty</span></div>

                        </div>

                    </button>
                </a>
            </div>
            <div class="row">
                <a href="/settings/messages" style="width: 100%">
                    <button type="button" style="width: 100%" class="text-left left_menu_button">
                        <div class="row">
                            <div class="col-2 text-center"><span class="far fa-envelope" style="font-size: 16px;padding-left: 17px"></span></div>
                            <div class="col-10"><span>Moje wiadomości</span></div>

                        </div>

                    </button>
                </a>
            </div>
            <div class="row">
                <a href="/settings/liked/page/1" style="width: 100%">
                    <button type="button" style="width: 100%" class="text-left left_menu_button">
                        <div class="row">
                            <div class="col-2 text-center"><span class="fab fa-gratipay" style="font-size: 16px;padding-left: 17px"></span></div>
                            <div class="col-10"><span>Polubione promocje</span></div>

                        </div>

                    </button>
                </a>
            </div>
            <div class="row" sec:authorize="hasAuthority('ADMIN')">
                <a href="/settings/admin/discounts" style="width: 100%">
                    <button type="button" style="width: 100%" class="text-left left_menu_button">
                        <div class="row">
                            <div class="col-2 text-center"><span class="far fa-calendar-check" style="font-size: 16px;padding-left: 17px"></span></div>
                            <div class="col-10"><span>Oczekujące promocje</span></div>

                        </div>
                    </button>
                </a>
            </div>
            <div class="row" sec:authorize="hasAuthority('ADMIN')">
                <a href="/settings/admin/functions" style="width: 100%">
                    <button type="button" style="width: 100%" class="text-left left_menu_button">
                        <div class="row">
                            <div class="col-2 text-center"><span class="fas fa-tools" style="font-size: 16px;padding-left: 17px"></span></div>
                            <div class="col-10"><span>Funkcjonalności</span></div>

                        </div>
                    </button>
                </a>
            </div>

        </div>
        <div class="col-8 padding_when_small" style="border-left: 1px solid rgba(82,73,98,.2);padding-left: 50px">
            <div class="row" th:if="${good_status}!=null">
                <div class="container-fluid" style="padding-right: 0;padding-left: 0;padding-bottom: 15px">
                    <div class="col-12" style="padding-left: 0px;padding-right: 0px">
                        <div class="alert">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <strong th:text="${good_status.toString()}"></strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" th:if="${bad_status}!=null">
                <div class="container-fluid" style="padding-right: 0;padding-left: 0;">
                    <div class="col-12" style="padding-left: 0px;padding-right: 0px;padding-bottom: 15px">
                        <div class="bad_alert">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <strong th:text="${bad_status.toString()}"></strong>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="font-weight: 400;font-size: 31px;padding-bottom: 20px">
                Moje okazje
            </div>
            <div class="row" style="padding-top: 10px;padding-bottom: 10px;padding-left:10px;background-color: #f4f4f5;border-radius: 6px;">
                <form th:action="@{/sort}" method="post">
                    <input type="hidden" id="sort" name="sort" value="rating">
                    <button th:if="${#session.getAttribute('sort')==null||!#session.getAttribute('sort').equals('rating')}" type="submit" data-mixitup-control data-sort="number-rate:desc"
                            class="btn sort_button" style="margin-right: 10px">Najlepiej oceniane
                    </button>
                    <button th:if="${#session.getAttribute('sort')!=null&&#session.getAttribute('sort').equals('rating')}" type="submit" data-mixitup-control data-sort="number-rate:desc"
                            class="btn sort_button sort_button_activated" style="margin-right: 10px">Najlepiej oceniane
                    </button>
                </form>
                <form th:action="@{/sort}" method="post">
                    <input type="hidden" id="sort" name="sort" value="comments">
                    <button type="submit" th:if="${#session.getAttribute('sort')==null||!#session.getAttribute('sort').equals('comments')}"  data-mixitup-control data-sort="number-comment:desc"
                            class="btn sort_button" style="margin-right: 10px">Najczęściej komentowane
                    </button>
                    <button type="submit" th:if="${#session.getAttribute('sort')!=null&&#session.getAttribute('sort').equals('comments')}"  data-mixitup-control data-sort="number-comment:desc"
                            class="btn sort_button sort_button_activated" style="margin-right: 10px">Najczęściej komentowane
                    </button>
                </form>
                <form th:action="@{/sort}" method="post">
                    <input type="hidden" id="sort" name="sort" value="date">
                    <button type="submit" th:if="${#session.getAttribute('sort')!=null&&!#session.getAttribute('sort').equals('date')}" data-mixitup-control data-sort="number-date:asc"
                            class="btn sort_button">Najnowsze promocje
                    </button>
                    <button type="submit" th:if="${#session.getAttribute('sort')==null||#session.getAttribute('sort').equals('date')}" data-mixitup-control data-sort="number-date:asc"
                            class="btn sort_button sort_button_activated">Najnowsze promocje
                    </button>
                </form>
            </div>
            <div style="height: 15px"></div>
            <div class="page-wrap d-flex flex-row align-items-center" th:if="${list_of_discounts.isEmpty()}" style="padding-top: 35px">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 text-center">
                            <div class="mb-4 lead">
                        <span style="color: rgba(0,0,0,0.78);font-size: 30px;font-weight: 400;margin-top: -15px;">Nie dodałes jeszcze żadnej okazji! :(</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div  th:each="discount : ${list_of_discounts}">
                <div class="row" style="padding-top:10px"></div>

                <a href="" th:href="@{|/discount/${discount.getDiscountId()}|}" style="width: 100%">
                    <div class="row pink_shadow" style="box-shadow: 0px 2px 6px 1px rgb(173, 173, 173);border-radius: 15px;border: 1px solid transparent;-webkit-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;">

                        <div class="d-flex justify-content-start align-items-start flex-column" style="width:35%;padding-left:20px;border-radius: 15px 0px 0px 15px;background-color: #e5e5e6;padding-top: 25px;padding-bottom: 25px">

                            <div class="" style="width: fit-content">
                                <span style="font-weight: 600;font-size: 14px">Typ: <span style="font-weight: 600;font-size: 14px" th:text="${discount.getTypeFormatted()}" >Zatwierdzone</span></span>
                            </div>
                            <div class="" style="width: fit-content">
                                <span style="font-weight: 500;font-size: 13px">Status:
                                    <span th:if="${discount.getStatus()}=='ACCEPTED'" style="font-weight: 800;font-size: 12px;color: #1e7e34">ZATWIERDZONE</span>
                                    <span th:if="${discount.getStatus()}=='DELETED'" style="font-weight: 800;font-size: 12px;color: #a71d2a">ODRZUCONE</span>
                                    <span th:if="${discount.getStatus()}=='AWAITING'" style="font-weight: 800;font-size: 12px;color: black">OCZEKUJĄCE</span></span>
                            </div>
                            <div class="d-flex justify-content-between" style="width: 30%">
                                <span class="fas fa-comments" style="font-size: 15px;padding-top: 3px"></span><span style="font-weight: 400;font-size: 15px;padding-left: 5px" th:text="${discount.getCommentsSize()}">5</span>
                                <span class="fas fa-plus" style="font-size: 15px;padding-top: 3px;padding-left: 10px"></span><span style="font-weight: 400;font-size: 15px;padding-left: 5px" th:text="${discount.getRatingsSize()}">25</span>

                            </div>
                            <div class="" style="width: fit-content">
                                <span style="font-weight: 400;font-size: 13px;">Dodane:  </span><span style="font-weight: 400;font-size: 14px;" th:text="${discount.getCreateDateFormatted()}"> 29.10.2020</span>
                            </div>


                        </div>
                        <div class="" style="width: 65%;padding-left: 20px">
                            <div class="row" style="height: 100%">

                                <div class="d-flex justify-content-center align-self-center" style="width:30%;height: 66px;padding-left: 10px">

                                    <img th:src="${discount.getImageUrl()}" onerror="this.src='/images/default_discount_image.png'" class="item_image_discount">
                                </div>

                                <div class="align-self-center" style="width: 60%">

                                    <span style="font-weight: 600;font-size: 16px;color: rgba(0,0,0,0.71);white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -o-pre-wrap;
                             word-wrap: break-word;" th:text="${discount.getTitle()}">Płyn do chłodnic samochodowych</span>

                                </div>

                            </div>
                        </div>

                    </div>
                </a>
            </div>

            <nav aria-label="Page navigation example" style="padding-top: 50px">
                <ul class="pagination justify-content-center">


                    <li th:if="${number_of_page == 1}" class="page-item disabled" style="padding-left: 5px">
                        <a class="page-link" href="/page/1" tabindex="-1">Poprzednia</a>
                    </li>
                    <li th:if="${number_of_page != 1}" class="page-item" style="padding-left: 5px">

                        <a class="page-link" th:href="@{|${next_and_previous.replaceFirst('id',number_of_page -1)}|}">Poprzednia</a>
                    </li>

                    <div th:each="i: ${#numbers.sequence(1, quantity_of_pages)}">
                        <li th:if="${i==number_of_page}" class="page-item active" style="padding-left: 5px">
                            <a class="page-link" th:href="@{|${array_of_addresses[i - 1]}|}" th:text="${i}">1</a>
                        </li>
                        <li th:if="${i!=number_of_page}" class="page-item" style="padding-left: 5px">
                            <a class="page-link" th:href="@{${array_of_addresses[i - 1]}}" th:text="${i}">1</a>
                        </li>
                    </div>



                    <li th:if="${number_of_page == quantity_of_pages}" class="page-item disabled" style="padding-left: 5px">
                        <a class="page-link" href="/page/1" tabindex="-1">Następna</a>
                    </li>
                    <li th:if="${number_of_page != quantity_of_pages}" class="page-item" style="padding-left: 5px">

                        <a class="page-link" th:href="@{${next_and_previous.replaceFirst('id',number_of_page+1)}}">Następna</a>
                    </li>


                </ul>
            </nav>

        </div>



    </div>

</div>











<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script
        src="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    document.getElementById ("kategorie-button").addEventListener ("click", collapseSklepy, false);
    document.getElementById ("sklepy-button").addEventListener ("click", collapseKategorie, false);
    document.getElementById ("navbar-toggler-button").addEventListener ("click", collapseNavbar, false);


    async function collapseKategorie() {
        $('#kategorie').collapse('hide');
        $('#navbarTogglerDemo02').collapse('hide');
        await sleep(350);
        $('#sklepy').collapse('toggle');
    }
    async function collapseSklepy() {
        $('#sklepy').collapse('hide');
        $('#navbarTogglerDemo02').collapse('hide');
        await sleep(350);
        $('#kategorie').collapse('toggle');

    }
    async function collapseNavbar() {
        $('#sklepy').collapse('hide');
        $('#kategorie').collapse('hide');
        await sleep(350);
        $('#navbarTogglerDemo02').collapse('toggle');
    }
</script>
</body>
</html>