<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link type="text/css" href="/css/user_messages.css" rel="stylesheet"/>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: linear-gradient(45deg,#e42d31,#ff0065);">
    <div class="navbar-brand" style="cursor: pointer;" onclick="window.location='/';">
        <div class="row">
            <div class="col-md-4 dj text-center"><h1>NG</h1></div>
            <div class="col-md-6">NORGIE</div>
        </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="nav navbar-nav ml-auto" style="padding-right: 250px">
            <li class="nav_items" data-toggle="collapse"
                data-target="#kategorie" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation"><a href="#" class="nav_items_clickable">Kategorie</a></li>
            <li class="nav_items" data-toggle="collapse"
                data-target="#sklepy" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation"><a href="#" class="nav_items_clickable">Sklepy</a></li>
            <li style="padding-right: 50px;"sec:authorize="!isAuthenticated()">
                <a href="/login"><button type="button" style="white-space:pre;" class="btn add_button"><span class="fas fa-user"
                                                                                                             style="font-size: 12px;"></span>ZALOGUJ SIĘ</button></a>
            </li>
            <li style="padding-right: 50px;"sec:authorize="isAuthenticated()">
                <form th:action="@{/settings}" method="get">
                    <button style="white-space:pre;" class="btn add_button" type="submit"
                            value="Sign Out"><span class="fas fa-user" style="font-size: 12px;"></span>TWOJE KONTO</button>
                </form>
            </li>
            <li>
                <a href="/add/discount"> <button type="button" style="" class="btn add_button"><span class="fas fa-plus"
                                                                                                     style="font-size: 12px;"></span>
                    DODAJ OKAZJE
                </button></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid" style="padding-right: 0px;padding-left: 0px">

    <div class="row collapse"  id="sklepy" style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);
     padding-bottom: 30px;padding-top: 30px;margin-top: -5px;padding-left:0px;padding-right: 0px;margin-left: 0;margin-right: 0">
        <div class="col-md-8 offset-md-2" style="padding-bottom: 20px;margin-top: -5px;">
            <div class="row">
                <div class="col-md-2" th:each="shop : ${list_of_shops}" style="padding-bottom: 5px;padding-right:0px;padding-left: 5px;">
                    <a th:href="|/shops/${shop.getName().toLowerCase()}|" href="/shops/biedronka"><button type="button" style="white-space:pre;width: 100%" class="btn category_button" th:text="${shop.getName()}">DODAJ KUPON</button></a>
                </div>
            </div>
        </div>

    </div>
    <div class="row collapse"  id="kategorie" style="width:100%;background: linear-gradient(45deg,#e42d31,#ff0065);
     padding-bottom: 30px;padding-top: 30px;margin-top: -5px;padding-left:0px;padding-right: 0px;margin-left: 0;margin-right: 0">
        <div class="col-md-8 offset-md-2" style="padding-bottom: 20px;margin-top: -5px;">
            <div class="row">
                <div class="col-md-2" th:each="tag : ${list_of_tags}" style="padding-bottom: 5px;padding-right:0px;padding-left: 5px;">
                    <a th:href="|/categories/${tag.getName().toLowerCase()}|" href="/shops/biedronka"><button type="button" style="white-space:pre;width: 100%" class="btn category_button" th:text="${tag.getName()}">DODAJ KUPON</button></a>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="container-fluid" style="padding-top: 70px">

    <div class="row" id="left_side_menu_row">

        <div class="col-3" style="font-weight: 400;font-size: 14px;" id="left_side_menu">

             <span th:each="conversation : ${list_of_conversations}">
                 <a th:href="@{|/messages/${conversation.getConversation_id()}|}">
                    <div class="row" style="font-size:14px;padding-top: 10px;" th:if="${conversation.hasNewMessage(user)}">
                        <div class="col-12" style="border-top: 2px solid rgb(117 117 117);border-bottom: 2px solid rgb(117 117 117);border-right: 1px solid rgb(117 117 117);padding-left: 20px;padding-top:13px;padding-bottom:13px;">
                            <div class="row">
                                <div class="col-2 offset-1 align-self-center"><img src="/images/user.png" class="user_image"><img></div>
                                <div class="col-8 align-self-center" style="font-weight: 600;">
                                    <div class="row" th:text="${conversation.getOtherUser(user).getLogin()}">

                                        TrailBlazer

                                    </div>
                                    <div class="row">

                                        <span style="margin-top:-3px;font-size: 12px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color: rgba(8,8,8,0.72)" th:text="${conversation.getNewestMessage(user)}">
                                            Ty: hejka, co tam? Chcesz cos z Avon'u?
                                        </span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                 </a>
             </span>


            <span th:each="conversation : ${list_of_conversations}">
                <a th:href="@{|/messages/${conversation.getConversation_id()}|}">
                <div class="row" style="font-size:14px;padding-top: 10px;" th:if="!${conversation.hasNewMessage(user)}">
                    <div class="col-12" style="background-color:#eaeaea;border-top: 1px solid rgba(82,73,98,0.2);border-right: 1px solid rgba(82,73,98,0.2);border-bottom: 1px solid rgba(82,73,98,0.2);padding-left: 20px;padding-top:13px;padding-bottom:13px;" th:if="${current_conversation.getConversation_id().equals(conversation.getConversation_id())}">
                        <div class="row">
                            <div class="col-2 offset-1 align-self-center"><img src="/images/user.png" class="user_image"><img></div>
                            <div class="col-8" style="font-weight: 600;">
                                <div class="row" th:text="${conversation.getOtherUser(user).getLogin()}">

                                    JanzusKowalski123

                                </div>
                                <div class="row">

                                    <span style="margin-top:-3px;font-size: 12px;color:rgba(109,109,109,0.56);overflow: hidden;white-space: nowrap;text-overflow: ellipsis;" th:text="${conversation.getNewestMessage(user)}">
                                        Ty: rafineria123@gmail.com
                                    </span>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12" style="background-color:#ffffff;border-top: 1px solid rgba(82,73,98,0.2);border-right: 1px solid rgba(82,73,98,0.2);border-bottom: 1px solid rgba(82,73,98,0.2);padding-left: 20px;padding-top:13px;padding-bottom:13px;" th:if="${!current_conversation.getConversation_id().equals(conversation.getConversation_id())}">
                        <div class="row">
                            <div class="col-2 offset-1 align-self-center"><img src="/images/user.png" class="user_image"><img></div>
                            <div class="col-8" style="font-weight: 600;">
                                <div class="row" th:text="${conversation.getOtherUser(user).getLogin()}">

                                    JanzusKowalski123

                                </div>
                                <div class="row">

                                    <span style="margin-top:-3px;font-size: 12px;color:rgba(109,109,109,0.56);overflow: hidden;white-space: nowrap;text-overflow: ellipsis;" th:text="${conversation.getNewestMessage(user)}">
                                        Ty: rafineria123@gmail.com
                                    </span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                </a>
            </span>


        </div>
        <div class="col-6 d-flex flex-column-reverse" id="chat" style="border-left: 1px solid rgba(82,73,98,.2); background-color:white;height: 650px;overflow:auto">



            <span th:each="message:${current_conversation.getMessagesSorted()}">
                <div class="d-flex align-items-start flex-column" th:if="${message.getUser().getUser_id()!=user.getUser_id()}">
                    <div class="left_message" th:text="${message.getContent()}"></div>
                </div>
                 <div class="d-flex align-items-end flex-column" th:if="${message.getUser().getUser_id()==user.getUser_id()}">
                    <div class="right_message"  th:text="${message.getContent()}">Flex item</div>
                </div>
             </span>





        </div>


            <div class="col-7 offset-3" style="border-left: 1px solid rgba(82,73,98,.2);padding-top: 7px">


                    <div class="row">


                            <div class="col-10">

                                <input type="text" class="add_input" id="new_message" name="new_message" placeholder="Wpisz nową wiadomość..." value="" minlength="1" style="border: 1px solid rgba(82,73,98,0.2);
                                    padding-left: 20px;padding-top:5px;padding-bottom:5px;border-radius: 20px;width:100%;font-size: 17px">

                            </div>

                            <div class="col-1">

                                <button type="button" class="add_input" style="background: white;border: 0;height: 100%;font-size: 25px;" onclick="sendMessage()" id="mybutton">
                                    <span class="fas fa-comment-alt" style="color: #f9095af0;font-size: 30px;text-align: center;"></span>
                                </button>

                            </div>

                    </div>

            </div>





    </div>

</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script
        src="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    function refreshChat() {
        $.ajax({
            url : "http://localhost:8080/conversation/" + "[[${current_conversation.getConversation_id()}]]",
            success : function(data) {
                const obj = data;
                document.getElementById("chat").innerHTML = "";
                for (let i = 0; i < obj.length; i++) {

                    let element1 = document.createElement("div");
                    element1.classList.add("d-flex");
                    element1.classList.add("flex-column");

                    let element2 = document.createElement("div");

                    if (obj[i][1] == "left") {
                        element2.classList.add("left_message");
                        element1.classList.add("align-items-start");
                    }else {
                        element2.classList.add("right_message");
                        element1.classList.add("align-items-end");
                    }

                    element2.innerHTML=obj[i][0];

                    element1.appendChild(element2);



                    document.getElementById("chat").appendChild(element1);

                };

            }
        });
        $.ajax({
            url : "http://localhost:8080/user_conversations/" + "[[${current_conversation.getConversation_id()}]]",
            success : function(data) {
                const obj = data;
                let list = [];
                for (let i = 0; i < obj.length; i++) {

                    if (obj[i][2]==="nieodczytane"){
                        if("[[${current_conversation.getConversation_id()}]]"===obj[i][3]){
                            let element1 = document.createElement("div");
                            element1.innerHTML="<a href=\""+"/messages/"+obj[i][3]+"\">\n" +
                                "                    <div class=\"row\" style=\"font-size:14px;padding-top: 10px;\">\n" +
                                "                        <div class=\"col-12\" style=\"background-color:#eaeaea;border-top: 1px solid rgba(82,73,98,0.2);border-right: 1px solid rgba(82,73,98,0.2);border-bottom: 1px solid rgba(82,73,98,0.2);padding-left: 20px;padding-top:13px;padding-bottom:13px;\">\n" +
                                "                            <div class=\"row\">\n" +
                                "                                <div class=\"col-2 offset-1 align-self-center\"><img src=\"/images/user.png\" class=\"user_image\"><img></div>\n" +
                                "                                <div class=\"col-8 align-self-center\" style=\"font-weight: 600;\">\n" +
                                "                                    <div class=\"row\">\n" +
                                "    \n" +
                                obj[i][4]+"\n" +
                                "    \n" +
                                "                                    </div>\n" +
                                "                                    <div class=\"row\">\n" +
                                "    \n" +
                                "                                        <span style=\"margin-top:-3px;font-size: 12px;color:rgba(109,109,109,0.56);overflow: hidden;white-space: nowrap;text-overflow: ellipsis;\">\n" +
                                obj[i][5]+"\n" +
                                "                                        </span>\n" +
                                "    \n" +
                                "                                    </div>\n" +
                                "                                </div>\n" +
                                "                            </div>\n" +
                                "    \n" +
                                "                        </div>\n" +
                                "                    </div>\n" +
                                "                 </a>"
                            list.push(element1);

                        }else {


                            let element1 = document.createElement("div");
                            element1.innerHTML = "<a href=\"" + "/messages/" + obj[i][3] + "\">\n" +
                                "                    <div class=\"row\" style=\"font-size:14px;padding-top: 10px;\">\n" +
                                "                        <div class=\"col-12\" style=\"border-top: 2px solid rgb(117 117 117);border-bottom: 2px solid rgb(117 117 117);border-right: 1px solid rgb(117 117 117);padding-left: 20px;padding-top:13px;padding-bottom:13px;\">\n" +
                                "                            <div class=\"row\">\n" +
                                "                                <div class=\"col-2 offset-1 align-self-center\"><img src=\"/images/user.png\" class=\"user_image\"><img></div>\n" +
                                "                                <div class=\"col-8 align-self-center\" style=\"font-weight: 600;\">\n" +
                                "                                    <div class=\"row\">\n" +
                                "    \n" +
                                obj[i][4] + "\n" +
                                "    \n" +
                                "                                    </div>\n" +
                                "                                    <div class=\"row\">\n" +
                                "    \n" +
                                "                                        <span style=\"margin-top:-3px;font-size: 12px;color: rgba(8,8,8,0.72);overflow: hidden;white-space: nowrap;text-overflow: ellipsis;\">\n" +
                                obj[i][5] + "\n" +
                                "                                        </span>\n" +
                                "    \n" +
                                "                                    </div>\n" +
                                "                                </div>\n" +
                                "                            </div>\n" +
                                "    \n" +
                                "                        </div>\n" +
                                "                    </div>\n" +
                                "                 </a>"
                            list.push(element1);
                        }

                    }

                };
                for (let i = 0; i < obj.length; i++) {

                    if (obj[i][2]==="odczytane"){

                        let element1 = document.createElement("div");
                        if("[[${current_conversation.getConversation_id()}]]"===obj[i][3]){
                        element1.innerHTML="<a href=\""+"/messages/"+obj[i][3]+"\">\n" +
                            "                    <div class=\"row\" style=\"font-size:14px;padding-top: 10px;\">\n" +
                            "                        <div class=\"col-12\" style=\"background-color:#eaeaea;border-top: 1px solid rgba(82,73,98,0.2);border-right: 1px solid rgba(82,73,98,0.2);border-bottom: 1px solid rgba(82,73,98,0.2);padding-left: 20px;padding-top:13px;padding-bottom:13px;\">\n" +
                            "                            <div class=\"row\">\n" +
                            "                                <div class=\"col-2 offset-1 align-self-center\"><img src=\"/images/user.png\" class=\"user_image\"><img></div>\n" +
                            "                                <div class=\"col-8 align-self-center\" style=\"font-weight: 600;\">\n" +
                            "                                    <div class=\"row\">\n" +
                            "    \n" +
                            obj[i][4]+"\n" +
                            "    \n" +
                            "                                    </div>\n" +
                            "                                    <div class=\"row\">\n" +
                            "    \n" +
                            "                                        <span style=\"margin-top:-3px;font-size: 12px;color:rgba(109,109,109,0.56);overflow: hidden;white-space: nowrap;text-overflow: ellipsis;\">\n" +
                            obj[i][5]+"\n" +
                            "                                        </span>\n" +
                            "    \n" +
                            "                                    </div>\n" +
                            "                                </div>\n" +
                            "                            </div>\n" +
                            "    \n" +
                            "                        </div>\n" +
                            "                    </div>\n" +
                            "                 </a>"
                            list.push(element1);
                        }else {

                            element1.innerHTML="<a href=\""+"/messages/"+obj[i][3]+"\">\n" +
                                "                    <div class=\"row\" style=\"font-size:14px;padding-top: 10px;\">\n" +
                                "                        <div class=\"col-12\" style=\"background-color:#ffffff;border-top: 1px solid rgba(82,73,98,0.2);border-right: 1px solid rgba(82,73,98,0.2);border-bottom: 1px solid rgba(82,73,98,0.2);padding-left: 20px;padding-top:13px;padding-bottom:13px;\">\n" +
                                "                            <div class=\"row\">\n" +
                                "                                <div class=\"col-2 offset-1 align-self-center\"><img src=\"/images/user.png\" class=\"user_image\"><img></div>\n" +
                                "                                <div class=\"col-8 align-self-center\" style=\"font-weight: 600;\">\n" +
                                "                                    <div class=\"row\">\n" +
                                "    \n" +
                                obj[i][4]+"\n" +
                                "    \n" +
                                "                                    </div>\n" +
                                "                                    <div class=\"row\">\n" +
                                "    \n" +
                                "                                        <span style=\"margin-top:-3px;font-size: 12px;color:rgba(109,109,109,0.56);overflow: hidden;white-space: nowrap;text-overflow: ellipsis;\">\n" +
                                obj[i][5]+"\n" +
                                "                                        </span>\n" +
                                "    \n" +
                                "                                    </div>\n" +
                                "                                </div>\n" +
                                "                            </div>\n" +
                                "    \n" +
                                "                        </div>\n" +
                                "                    </div>\n" +
                                "                 </a>"

                        }
                        list.push(element1);

                    }

                };



                let newdiv = document.getElementById("left_side_menu");
                newdiv.innerHTML="";
                list.forEach(function(item) {
                    newdiv.appendChild(item);
                });
            }
        });
    }

    function sendMessage(){

        if(document.getElementById("new_message").value===""){

        }else {

            $.ajax({
                type: 'POST',
                url: '/sendNewMessage',
                data: {
                    message: document.getElementById("new_message").value,
                    user: "[[${current_conversation.getOtherUser(user).getLogin()}]]"

                },
                success: function (data) {
                    document.getElementById("new_message").value = "";
                    refreshChat();

                },
                error: function (jqXHR) {
                    $(document.body).text('Error: ' + jqXHR.status);
                }
            });
        }

    }


    var input = document.getElementById("new_message");

    // Execute a function when the user releases a key on the keyboard
    input.addEventListener("keyup", function(event) {
        // Number 13 is the "Enter" key on the keyboard
        if (event.keyCode === 13) {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("mybutton").click();
        }
    });



</script>

<script type="text/javascript">
    var intervalId = 0;
    intervalId = setInterval(refreshChat, 3000);
</script>
</body>
</html>